Source: qt4-tqt-theme-engine
Section: tde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
Build-Depends: debhelper (>= 5), cdbs, tdelibs4-trinity-dev, libqt4-dev, automake, autoconf, libtool, libltdl-dev
Standards-Version: 3.8.4

Package: qt4-tqt-theme-engine
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TDE theme engine for Qt4
 TDE theme engine for Qt4
