Source: kdemultimedia-trinity
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Christopher Martin <chrsmrtn@debian.org>, Fathi Boudra <fboudra@free.fr>, Sune Vuorela <debian@pusling.com>
Build-Depends: cdbs (>= 0.4.39-0.1), debhelper (>= 5.0.31), autotools-dev, cdparanoia, gawk, gettext, kdelibs4-trinity-dev (>= 4:3.5.10), libcdparanoia0-dev, libesd0-dev, libflac-dev (>= 1.1.4-1), libgstreamer-plugins-base0.10-dev, libsamplerate0-dev, libspeex-dev (>> 1.1.5), libtag1-dev (>> 1.3.1), libtheora-dev, libxine-dev, sharutils, texinfo, libxxf86dga-dev, libxv-dev, libxxf86vm-dev, libakode-dev, libogg-dev, libogg-dev-la, automake, autoconf, libtool, libltdl-dev
Standards-Version: 3.8.4

Package: kdemultimedia-trinity
Section: kde
Architecture: all
Depends: artsbuilder-trinity (>= ${Source-Version}), juk-trinity (>= ${Source-Version}), kaboodle-trinity (>= ${Source-Version}), kaudiocreator-trinity (>= ${Source-Version}), kdemultimedia-kappfinder-data-trinity (>= ${Source-Version}), kdemultimedia-kfile-plugins-trinity (>= ${Source-Version}), kdemultimedia-kio-plugins-trinity (>= ${Source-Version}), kmid-trinity (>= ${Source-Version}), kmix-trinity (>= ${Source-Version}), krec-trinity (>= ${Source-Version}), kscd-trinity (>= ${Source-Version}), libarts1-akode-trinity (>= ${Source-Version}), libarts1-audiofile-trinity (>= ${Source-Version}), libarts1-mpeglib-trinity (>= ${Source-Version}), libarts1-xine-trinity (>= ${Source-Version}), mpeglib-trinity (>= ${Source-Version}), noatun-trinity (>= ${Source-Version})
Suggests: kdemultimedia-trinity-doc-html (>= ${Source-Version})
Description: multimedia apps from the official Trinity release 
 KDE (the K Desktop Environment) is a powerful Open Source graphical
 desktop environment for Unix workstations. It combines ease of use,
 contemporary functionality, and outstanding graphical design with the
 technological superiority of the Unix operating system.
 .
 This metapackage includes a collection of multimedia applications
 (such as sound and movie player, mixers and plugins) provided with
 the official release of KDE.
 .
 Homepage: http://www.kde.org/areas/multimedia

Package: kdemultimedia-trinity-dev
Section: devel
Architecture: any
Depends: kdelibs4-trinity-dev (>= 4:3.5.7), artsbuilder-trinity (= ${Source-Version}), kdemultimedia-kio-plugins-trinity (= ${Source-Version}), kmid-trinity (= ${Source-Version}), kmix-trinity (= ${Source-Version}), krec-trinity (= ${Source-Version}), kscd-trinity (= ${Source-Version}), libarts1-akode-trinity (= ${Source-Version}), libarts1-mpeglib-trinity (= ${Source-Version}), libkcddb1-trinity (= ${Source-Version}), mpeglib-trinity (= ${Source-Version}), noatun-trinity (= ${Source-Version})
Conflicts: libmpeg-trinity-dev
Replaces: artsbuilder-trinity (<< 4:3.0.0), mpeglib-trinity (<< 4:3.0.0), noatun-trinity (<< 4:3.0.0)
Description: development files for the Trinity multimedia module
 Development files and headers for the Trinity multimedia module.
 .
 This package is part of KDE, as a component of the KDE multimedia module.
 See the 'kde-trinity' and 'kdemultimedia-trinity' packages for more information.

Package: kdemultimedia-trinity-doc-html
Architecture: all
Section: doc
Suggests: konqueror-trinity | www-browser, kdebase-trinity
Description: Trinity multimedia documentation in HTML format
 By default the modules provided by KDE only provide their documentation
 in KDE docbook format, which can only be read by Konqueror or KHelpCenter.
 This package provides all of the KDE multimedia documentation converted to
 HTML format so it can be read with any web browser.
 .
 The documentation will be installed into the usual directories
 /opt/trinity/share/doc/tde/HTML/<language>/<app>/, for instance
 /opt/trinity/share/doc/tde/HTML/en/juk/. Documentation is provided for most
 KDE multimedia packages.
 .
 This package is part of Trinity, and a component of the KDE multimedia module.
 See the 'kde-trinity' and 'kdemultimedia-trinity' packages for more information.

Package: artsbuilder-trinity
Section: sound
Architecture: any
Depends: ${shlibs:Depends}
Suggests: khelpcenter-trinity
Replaces: kdebase-data-trinity (<< 4:3.3.91), kdemultimedia-dev-trinity (<< 4:3.5.0-2)
Description: synthesizer designer for aRts
 This is the analog Realtime synthesizer's graphical design tool.
 .
 This package is part of Trinity, as a component of the KDE multimedia module.
 See the 'kde-trinity' and 'kdemultimedia-trinity' packages for more information.

Package: juk-trinity
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Suggests: khelpcenter-trinity
Description: music organizer and player for Trinity
 JuK (pronounced "jook") is a jukebox and music manager for the KDE
 desktop similar to jukebox software on other platforms such as
 iTunes or RealOne.
 .
 Some of JuK's features include:
  * Support for Ogg Vorbis and MP3 formats
  * Tag editing support for both formats, including ID3v2 for MP3 files.
    Multitagging or editing a selection of multiple files at once is also
    supported
  * Output to either the aRts, default KDE sound system, or GStreamer
  * Management of your "collection" and multiple playlists
  * Import and export to m3u playlists
  * Binary caching of audio meta-data and playlist information for faster
    load times (starting with the second time you run JuK)
  * Integration into KDE that allows drag-and-drop and clipboard usage
    with other KDE and X apps
 .
 This package is part of Trinity, as a component of the KDE multimedia module.
 See the 'kde-trinity' and 'kdemultimedia-trinity' packages for more information.

Package: kaboodle-trinity
Section: sound
Architecture: any
Depends: ${shlibs:Depends}
Recommends: libarts1-xine-trinity
Suggests: khelpcenter-trinity
Description: light, embedded media player for Trinity
 Kaboodle is a light, embedded media player, supporting both video and audio,
 for KDE. It uses the aRts framework for playing media files.
 .
 This package is part of Trinity, as a component of the KDE multimedia module.
 See the 'kde-trinity' and 'kdemultimedia-trinity' packages for more information.

Package: kaudiocreator-trinity
Section: sound
Architecture: any
Depends: ${shlibs:Depends}, kdemultimedia-kio-plugins-trinity (= ${Source-Version})
Recommends: vorbis-tools, flac
Suggests: lame
Description: CD ripper and audio encoder frontend for Trinity
 KAudioCreator is a tool for audio extraction (ripping) and encoding. It can
 keep your WAV files, or convert them to Ogg/Vorbis, MP3, or FLAC. It also
 searches CDDB to retrieve the information of the disk.
 .
 This package is part of Trinity, as a component of the KDE multimedia module.
 See the 'kde-trinity' and 'kdemultimedia-trinity' packages for more information.

Package: kdemultimedia-kfile-plugins-trinity
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Replaces: kdemultimedia-kio-plugins (<< 4:3.4.1-1)
Description: au/avi/m3u/mp3/ogg/wav plugins for kfile
 au/avi/m3u/mp3/ogg/wav file metainformation plugins for Trinity.
 .
 This package is part of Trinity, as a component of the KDE multimedia module.
 See the 'kde-trinity' and 'kdemultimedia-trinity' packages for more information.

Package: kdemultimedia-kappfinder-data-trinity
Section: kde
Architecture: any
Depends: kappfinder-trinity
Description: multimedia data for kappfinder-trinity
 This package provides data on multimedia applications for kappfinder-trinity.
 .
 This package is part of Trinity, as a component of the KDE multimedia module.
 See the 'kde-trinity' and 'kdemultimedia-trinity' packages for more information.

Package: kdemultimedia-kio-plugins-trinity
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Suggests: lame
Replaces: kdebase-kio-plugins-trinity (<< 4:3.4.0)
Description: enables the browsing of audio CDs under Konqueror
 This package allow audio CDs to be browsed like a file system using
 Konqueror and the audiocd:/ URL.
 .
 This package is part of Trinity, as a component of the KDE multimedia module.
 See the 'kde-trinity' and 'kdemultimedia-trinity' packages for more information.

Package: kmid-trinity
Section: sound
Architecture: any
Depends: ${shlibs:Depends}
Suggests: khelpcenter-trinity
Description: MIDI/karaoke player for Trinity
 This package provides a MIDI and karaoke player for KDE.
 .
 This package is part of Trinity, as a component of the KDE multimedia module.
 See the 'kde-trinity' and 'kdemultimedia-trinity' packages for more information.

Package: kmix-trinity
Section: sound
Architecture: any
Depends: ${shlibs:Depends}
Suggests: khelpcenter-trinity
Provides: x-audio-mixer
Description: sound mixer applet for Trinity
 This package includes KDE's dockable sound mixer applet.
 .
 This package is part of Trinity, as a component of the KDE multimedia module.
 See the 'kde-trinity' and 'kdemultimedia-trinity' packages for more information.

Package: krec-trinity
Section: sound
Architecture: any
Depends: ${shlibs:Depends}
Suggests: khelpcenter-trinity
Description: sound recorder utility for Trinity
 This is a sound recording utility for Trinity.
 .
 This package is part of Trinity, as a component of the KDE multimedia module.
 See the 'kde-trinity' and 'kdemultimedia-trinity' packages for more information.

Package: kscd-trinity
Section: sound
Architecture: any
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: audio CD player for Trinity
 This is Trinity's audio CD player.
 .
 This package is part of Trinity, as a component of the KDE multimedia module.
 See the 'kde-trinity' and 'kdemultimedia-trinity' packages for more information.

Package: libarts1-akode-trinity
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Replaces: libakode2-trinity (<< 2-beta3-2), akode-trinity
Description: akode plugin for aRts
 This package contains akode plugins for aRts.
 .
 This package is part of Trinity, as a component of the KDE multimedia module.
 See the 'kde-trinity' and 'kdemultimedia-trinity' packages for more information

Package: libarts1-audiofile-trinity
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: audiofile plugin for aRts
 This package contains audiofile plugins for aRts.
 .
 This package is part of Trinity, as a component of the KDE multimedia module.
 See the 'kde-trinity' and 'kdemultimedia-trinity' packages for more information.

Package: libarts1-mpeglib-trinity
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: mpeglib plugin for aRts, supporting mp3 and mpeg audio/video
 This package contains the mpeglib aRts plugin, supporting mp3 and mpeg
 audio and video.
 .
 This is the arts (KDE Sound daemon) plugin.
 .
 This package is part of KDE, as a component of the KDE multimedia module.
 See the 'kde-trinity' and 'kdemultimedia-trinity' packages for more information.

Package: libarts1-xine-trinity
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: aRts plugin enabling xine support
 This package contains aRts' xine plugin, allowing the use of the xine
 multimedia engine though aRts.
 .
 This package is part of Trinity, as a component of the KDE multimedia module.
 See the 'kde-trinity' and 'kdemultimedia-trinity' packages for more information.

Package: libkcddb1-trinity
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: CDDB library for Trinity
 The Trinity native CDDB (CD Data Base) library, providing easy access to Audio
 CD meta-information (track titles, artist information, etc.) from on-line
 databases, for KDE applications.
 .
 This package is part of Trinity, as a component of the KDE multimedia module.
 See the 'kde-trinity' and 'kdemultimedia-trinity' packages for more information.

Package: mpeglib-trinity
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Recommends: libarts1-mpeglib-trinity (= ${Source-Version})
Replaces: kdemultimedia-trinity-dev (<< 4:3.5.2-1)
Description: MP3 and MPEG-1 audio and video library
 mpeglib is a MPEG-1 and MP3 audio and video library. It supports
 MPEG-1 audio (layers 1, 2, 3), MPEG-1 video, MPEG-1 system layer,
 and WAV playback
 .
 This package is part of Trinity, as a component of the KDE multimedia module.
 See the 'kde-trinity' and 'kdemultimedia-trinity' packages for more information.

Package: noatun-trinity
Section: sound
Architecture: any
Depends: ${shlibs:Depends}
Suggests: khelpcenter-trinity, noatun-plugins-trinity
Description: media player for Trinity
 Noatun is an aRts-based audio and video player for Trinity. It supports all
 formats supported by your installation of aRts (including aRts plugins).
 .
 This package is part of Trinity, as a component of the KDE multimedia module.
 See the 'kde-trinity' and 'kdemultimedia-trinity' packages for more information.

Package: kdemultimedia-trinity-dbg
Section: libdevel
Architecture: any
Priority: extra
Depends: kdelibs-trinity-dbg, libkcddb1-trinity (= ${Source-Version})
Description: debugging symbols for kdemultimedia
 This package contains the debugging symbols associated with kdemultimedia-trinity.
 They will automatically be used by gdb for debugging kdemultimedia-related
 issues.
