Source: compizconfig-backend-kconfig-kde3
Section: libs
Priority: extra
Maintainer: Timothy Pearosn <kb9vqf@pearsoncomputing.net>
Build-Depends: cdbs, debhelper (>= 5), compiz-kde3-dev, pkg-config, intltool, kdelibs4-kde3-dev, libcompizconfig0-kde3-dev, automake1.11-kde3, autoconf2.63, libtool, libltdl-dev
Standards-Version: 3.8.3

Package: compizconfig-backend-kconfig-kde3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libcompizconfig-backend-kconfig-kde3
Description: KConfig [KDE3] Settings library for plugins - OpenCompositing Project
 The OpenCompositing Project brings 3D desktop visual effects that improve
 usability of the X Window System and provide increased productivity
 through plugins and themes contributed by the community giving a
 rich desktop experience.
 .
 This package contains the KConfig (KDE3) settings backend for
 libcompizconfig.
