[Desktop Entry]
Name=Mandriva Online Applet
Comment=Applet for Mandriva Online
Exec=/usr/bin/mdkapplet
Icon=mdkonline
Type=Application
StartupNotify=true
Categories=X-MandrivaLinux-System-Configuration-Networking;Settings;Network;
X-KDE-autostart-after=kdesktop
