[Desktop Entry]
Type=MimeType
Comment=Urpmi medium info
Comment[ar]=معلومات وسيطة Urpmi
Comment[bg]=Urpmi информация за източник
Comment[br]=Titouroù diwar-benn ur medium urpmi
Comment[cs]=Informace o zdroji urpmi
Comment[cy]=Gwybodaeth cyfrwng urpmi
Comment[da]=Info om urpmi medie
Comment[de]=Urpmi Medien Info
Comment[el]=Πληροφορίες μέσου Urpmi
Comment[eo]=Informo pri urpmi-portilo
Comment[es]=Información de soporte urpmi
Comment[et]=Uprmi andmekandja teave
Comment[eu]=Urpmi euskarriaren info
Comment[fi]=Urpmi-lähdetiedot
Comment[fr]=Information de medium urpmi
Comment[gl]=Información de soporte de urpmi
Comment[he]=מידע על מקור urpmi
Comment[hu]=Információ az Urpmi-adatforrásról
Comment[is]=Urpmi upplýsingar um miðil
Comment[it]=Informazioni sulla fonte urpmi
Comment[ja]=urpmi メディアの情報
Comment[ky]=urpmi булактын маалыматы
Comment[ltg]=Urpmi datu nesieja info
Comment[ms]=Maklumat media urpmi
Comment[nb]=Info om urpmi-media
Comment[nl]=Info over Urpmi-medium
Comment[nn]=Informasjon for urpmi-medium
Comment[pl]=Informacje na temat nośnika dla urpmi
Comment[pt]=Informação da média urpmi
Comment[pt_BR]=Informação sobre mídia urpmi
Comment[ro]=Informații mediu urpmi
Comment[ru]=Сведения об источнике urpmi
Comment[sl]=Podatki o viru urpmi
Comment[sv]=Urpmi media info
Comment[tr]=Urpmi yazılım kaynağı bilgisi
Comment[uk]=Інформація про джерело urpmi
Comment[uz]=Dasturlar toʻplami fayli
Comment[uz@cyrillic]=Дастурлар тўплами файли
Comment[zh_CN]=Urpmi 介质信息
Comment[zh_TW]=Urpmi 媒體資訊
MimeType=application/x-urpmi-media
Patterns=*.urpmi-media;
