Source: kde-i18n-trinity
Build-Depends: debhelper (>= 5), quilt, kdelibs4-trinity-dev, gawk, gettext, bzip2, perl, automake, autoconf, libtool, libltdl-dev
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>
Standards-Version: 3.8.4

Package: kde-i18n-af-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Afrikaans (af) internationalized (i18n) files for KDE
 This package contains the Afrikaans internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-ar-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity-trinity
Description: Arabic (ar) internationalized (i18n) files for KDE
 This package contains the Arabic internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-az-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Azerbaijani (az) internationalized (i18n) files for KDE
 This package contains the Azerbaijani internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-be-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Belarusian (be) internationalized (i18n) files for KDE
 This package contains the Belarusian internationalized (i18n) files
 for all KDE core applications.

Package: kde-i18n-bg-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Bulgarian (bg) internationalized (i18n) files for KDE
 This package contains the Bulgarian internationalized (i18n) files
 for all KDE core applications.

Package: kde-i18n-bn-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Bengali (bn) internationalized (i18n) files for KDE
 This package contains the Bengali internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-br-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Breton (br) internationalized (i18n) files for KDE
 This package contains the Breton internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-bs-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Bosnian (bs) internationalized (i18n) files for KDE
 This package contains the Bosnian internationalized (i18n) files for
 all KDE core applications.
 
Package: kde-i18n-ca-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Catalan (ca) internationalized (i18n) files for KDE
 This package contains the Catalan internationalized (i18n) files for
 all KDE core applications.
 
Package: kde-i18n-cs-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Czech (cs) internationalized (i18n) files for KDE
 This package contains the Czech internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-csb-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Kashubian (csb) internationalized (i18n) files for KDE
 This package contains the Kashubian internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-cy-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Welsh (cy) internationalized (i18n) files for KDE
 This package contains the Welsh internationalized (i18n) files for
 all KDE core applications.
 
Package: kde-i18n-da-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Danish (da) internationalized (i18n) files for KDE
 This package contains the Danish internationalized (i18n) files for
 all KDE core applications.
 
Package: kde-i18n-de-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: German (de) internationalized (i18n) files for KDE
 This package contains the German internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-el-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Greek (el) internationalized (i18n) files for KDE
 This package contains the greek internationalized (i18n) files for
 all KDE core applications.
 
Package: kde-i18n-engb-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: British English (en_GB) internationalized (i18n) files for KDE
 This package contains the British English (en_GB) internationalized
 (i18n) files for all KDE core applications.

Package: kde-i18n-eo-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Esperanto (eo) internationalized (i18n) files for KDE
 This package contains the Esperanto (eo) internationalized
 (i18n) files for all KDE core applications.
 
Package: kde-i18n-es-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Spanish (es) internationalized (i18n) files for KDE
 This package contains the Spanish internationalized (i18n) files for
 all KDE core applications.
 
Package: kde-i18n-et-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Estonian (et) internationalized (i18n) files for KDE
 This package contains the Estonian internationalized (i18n) files
 for all KDE core applications.
 
Package: kde-i18n-eu-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Basque (eu) internationalized (i18n) files for KDE
 This package contains the Basque internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-fa-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Farsi (Persian) (fa) internationalized (i18n) files for KDE
 This package contains the Farsi (Persian) internationalized (i18n) files for
 all KDE core applications.
 
Package: kde-i18n-fi-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Finnish (fi) internationalized (i18n) files for KDE
 This package contains the Finnish internationalized (i18n) files for
 all KDE core applications.
 
Package: kde-i18n-fr-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: French (fr) internationalized (i18n) files for KDE
 This package contains the French internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-fy-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Frisian (fy) internationalized (i18n) files for KDE
 This package contains the Frisian internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-ga-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Irish Gaelic (ga) internationalized (i18n) files for KDE
 This package contains the Irish Gaelic internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-gl-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Galician (gl) internationalized (i18n) files for KDE
 This package contains the Galician internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-he-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Hebrew (he) internationalized (i18n) files for KDE
 This package contains the Hebrew internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-hi-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Hindi (hi) internationalized (i18n) files for KDE
 This package contains the Hindi internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-hr-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Croatian (hr) internationalized (i18n) files for KDE
 This package contains the Croatian internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-hu-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Hungarian (hu) internationalized (i18n) files for KDE
 This package contains the Hungarian internationalized (i18n) files
 for all KDE core applications.

Package: kde-i18n-is-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Icelandic (is) internationalized (i18n) files for KDE
 This package contains the Icelandic internationalized (i18n) files for
 all KDE core applications.
 
Package: kde-i18n-it-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Italian (it) internationalized (i18n) files for KDE
 This package contains the Italian internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-ja-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Japanese (ja) internationalized (i18n) files for KDE
 This package contains the Japanese internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-kk-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Kazakh (kk) internationalized (i18n) files for KDE
 This package contains the Kazakh internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-km-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Khmer (km) internationalized (i18n) files for KDE
 This package contains the Khmer internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-ko-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Korean (ko) internationalized (i18n) files for KDE
 This package contains the Korean internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-lt-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Lithuanian (lt) internationalized (i18n) files for KDE
 This package contains the Lithuanian internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-lv-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Latvian (lv) internationalized (i18n) files for KDE
 This package contains the Latvian internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-mk-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Macedonian (mk) internationalized (i18n) files for KDE
 This package contains the Macedonian internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-mn-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Mongolian (mn) internationalized (i18n) files for KDE
 This package contains the Mongolian internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-ms-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Malay (ms) internationalized (i18n) files for KDE
 This package contains the Malay internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-nb-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity, kde-i18n-no
Description: Norwegian Bookmal (nb) internationalized (i18n) files for KDE
 This package contains the Norwegian Bookmal internationalized (i18n)
 files for all KDE core applications.

Package: kde-i18n-nds-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Low Saxon (nds) internationalized (i18n) files for KDE
 This package contains the Low Saxon internationalized (i18n)
 files for all KDE core applications.
 
Package: kde-i18n-nl-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Dutch (nl) internationalized (i18n) files for KDE
 This package contains the Dutch internationalized (i18n) files for
 all KDE core applications.
 
Package: kde-i18n-nn-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Description: Norwegian Nynorsk (nn) internationalized (i18n) files for KDE
 This package contains the Norwegian Nynorsk (nn) internationalized (i18n)
 files for all KDE core applications.

Package: kde-i18n-pa-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Punjabi (pa) internationalized (i18n) files for KDE
 This package contains the Punjabi (pa) internationalized (i18n)
 files for all KDE core applications.

Package: kde-i18n-pl-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Polish (pl) internationalized (i18n) files for KDE
 This package contains the Polish internationalized (i18n) files for
 all KDE core applications.
 
Package: kde-i18n-pt-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Portuguese (pt) internationalized (i18n) files for KDE
 This package contains the Portuguese internationalized (i18n) files
 for all KDE core applications.
 
Package: kde-i18n-ptbr-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Brazilian Portuguese (pt_BR) internationalized (i18n) files for KDE
 This package contains the Brazilian Portuguese internationalized
 (i18n) files for all KDE core applications.
 
Package: kde-i18n-ro-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Romanian (ro) internationalized (i18n) files for KDE
 This package contains the Romanian internationalized (i18n) files
 for all KDE core applications.
 
Package: kde-i18n-ru-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Russian (ru) internationalized (i18n) files for KDE
 This package contains the Russian internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-rw-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Kinyarwanda (rw) internationalized (i18n) files for KDE
 This package contains the Kinyarwanda internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-se-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Northern Sami (se) internationalized (i18n) files for KDE
 This package contains the Northern Sami internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-sk-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Slovak (sk) internationalized (i18n) files for KDE
 This package contains the Slovak internationalized (i18n) files for
 all KDE core applications.
 
Package: kde-i18n-sl-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Slovenian (sl) internationalized (i18n) files for KDE
 This package contains the Slovenian internationalized (i18n) files
 for all KDE core applications.
 
Package: kde-i18n-sr-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Serbian (sr) internationalized (i18n) files for KDE
 This package contains the Serbian internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-ss-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Swati (ss) internationalized (i18n) files for KDE
 This package contains the Swati internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-srlatin-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Latin Serbian (sr@Latn) internationalized (i18n) files for KDE
 This package contains the latin Serbian internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-sv-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Swedish (sv) internationalized (i18n) files for KDE
 This package contains the Swedish internationalized (i18n) files for
 all KDE core applications.
 
Package: kde-i18n-ta-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Tamil (ta) internationalized (i18n) files for KDE
 This package contains the Tamil internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-te-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Telugu (te) internationalized (i18n) files for KDE
 This package contains the Telugu internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-tg-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Tajik (tg) internationalized (i18n) files for KDE
 This package contains the Tajik internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-th-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Thai (th) internationalized (i18n) files for KDE
 This package contains the Thai internationalized (i18n) files for
 all KDE core applications.

Package: kde-i18n-tr-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Turkish (tr) internationalized (i18n) files for KDE
 This package contains the Turkish internationalized (i18n) files for
 all KDE core applications.
 
Package: kde-i18n-uk-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Ukrainian (uk) internationalized (i18n) files for KDE
 This package contains the Ukrainian internationalized (i18n) files
 for all KDE core applications.

Package: kde-i18n-uz-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Uzbek (uz) internationalized (i18n) files for KDE
 This package contains the Uzbek internationalized (i18n) files
 for all KDE core applications.


Package: kde-i18n-uzcyrillic-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Cyrillic Uzbek (uz@cyrillic) internationalized (i18n) files for KDE
 This package contains the cyrillic Uzbek internationalized (i18n) files
 for all KDE core applications.

Package: kde-i18n-vi-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Vietnamese (vi) internationalized (i18n) files for KDE
 This package contains the Vietnamese internationalized (i18n) files
 for all KDE core applications.

Package: kde-i18n-wa-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Walloon (wa) internationalized (i18n) files for KDE
 This package contains the Walloon internationalized (i18n) files
 for all KDE core applications.

Package: kde-i18n-zhcn-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Chinese Simplified (zh_CN) internationalized (i18n) files for KDE
 This package contains the Chinese Simplified internationalized (i18n)
 files for all KDE core applications.

Package: kde-i18n-zhtw-trinity
Architecture: all
Section: kde
Depends: kdelibs4c2a-trinity
Suggests: kde
Provides: kde-i18n-trinity
Description: Chinese Traditional (zh_TW) internationalized (i18n) files for KDE
 This package contains the Chinese Traditional internationalized (i18n)
 files for all KDE core applications.
 
