#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
# include /usr/share/cdbs/1/class/kde.mk
include debian/cdbs/debian-qt-kde.mk

DEB_CONFIGURE_INCLUDEDIR := /opt/kde3/include/tde
DEB_CONFIGURE_MANDIR := /opt/kde3/share/man
DEB_CONFIGURE_PREFIX := /opt/kde3
DEB_CONFIGURE_INFODIR := /opt/kde3/share/info

cdbs_configure_flags := --with-qt-dir=/usr/share/qt3 --disable-rpath --with-xinerama $(cdbs_kde_enable_final) $(cdbs_kde_enable_debug)

DEB_CONFIGURE_EXTRA_FLAGS := --prefix=/opt/kde3 --with-extra-libs=/opt/kde3/lib

DEB_INSTALL_MANPAGES_kerry-kde3 = kerry.1

build/kerry-kde3::
	docbook2x-man debian/kerry.1.docbook

clean::
	rm -f kerry.1

binary-post-install/kerry-kde3::
	chrpath -d debian/kerry-kde3/opt/kde3/lib/libkdeinit_kerry.so
	chrpath -d debian/kerry-kde3/opt/kde3/bin/kerry
	chrpath -d debian/kerry-kde3/opt/kde3/lib/kde3/kerry.so
	chrpath -d debian/kerry-kde3/opt/kde3/lib/kde3/kcm_beagle.so
	mkdir -p debian/kerry-kde3/opt/kde3/share/man/man1/
	mv debian/kerry-kde3/usr/share/man/man1/kerry.1 debian/kerry-kde3/opt/kde3/share/man/man1/kerry.1
	rm -rf debian/kerry-kde3/usr/share/man
