#!/usr/bin/make -f

%:
	dh $@

# Ensure at build time that the library has no dependencies on undefined
# symbols, and speed up loading.
export LDFLAGS := $(shell dpkg-buildflags --get LDFLAGS) -Wl,-z,defs -Wl,-O1

override_dh_auto_configure:
	./autogen.sh
	dh_auto_configure -- $(CONFFLAGS) \
		--enable-compat-libdns_sd \
		--disable-mono --disable-monodoc \
		--disable-gtk3 \
		--with-systemdsystemunitdir=/lib/systemd/system

