Source: knetstats-kde3
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
Build-Depends: debhelper (>= 5.0), cdbs, kdelibs4-kde3-dev, docbook2x, automake1.11-kde3, autoconf2.63, libtool, libltdl-dev
Standards-Version: 3.8.3
Homepage: http://knetstats.sourceforge.net/

Package: knetstats-kde3
Architecture: any
Depends: ${shlibs:Depends}
Description: network interfaces monitor for the KDE3 systray
 A simple KDE network monitor that show rx/tx LEDs of any
 network interface on a system tray icon
