Source: krename-kde3
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
Uploaders: Richard A. Johnson <nixternal@ubuntu.com> 
Build-Depends: debhelper (>= 5), cdbs, kdelibs4-kde3-dev, patchutils, libx11-dev, libxext-dev, libxpm-dev, x-dev | x11proto-core-dev, perl, automake1.11-kde3, autoconf2.63, libtool, libltdl-dev
Standards-Version: 3.8.3

Package: krename-kde3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Powerful batch renamer for KDE 3.x [KDE3]
 This package contains a very powerful batch file renamer for KDE3 
 which can rename a list of files based on a set of expressions.
 It can copy/move the files to another directory or simply rename 
 the input files.
 .
 Homepage: http://www.krename.net
