Source: smartcardauth
Section: kde
Priority: extra
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
Uploaders: Timothy Pearson <kb9vqf@pearsoncomputing.net>
Build-Depends: debhelper (>=5.0), cdbs, pcsc-tools, pcscd-nodbus, initramfs-tools, libpcsc-perl, libpcsclite1, libccid, opensc, libpar-packer-perl, libdb-dev (>= 4.7), libpam0g-dev, libssl-dev, libkrb5-dev
Standards-Version: 3.8.3

Package: smartcardauth
Architecture: any
Depends: pcsc-tools, pcscd-nodbus, initramfs-tools, libpcsc-perl, libpcsclite1, libccid, opensc, zenity, gksu
Conflicts: openct
Description: SmartCard Login and LUKS Decrypt, Setup Utility
 This utility will allow you to set up your computer to accept a SmartCard as an authentication source for:
 - Your encrypted LUKS partition
 - KDE3.5, including automatic login, lock, and unlock features
 It is designed to work with any ISO 7816-1,2,3,4 compliant smartcard
 Examples of such cards are:
 - The Schlumberger MultiFlex
 - The ACS ACOS5 / ACOS6 series of cryptographic ISO 7816 cards
 If a card is chosen that has PKSC support, such as the ACOS cards, this utility can run
 simultaneously with the certificate reading program(s) to provide single sign on
 in addition to the PKCS certificate functionality
