Source: mlt++-kde3
Priority: optional
Section: libs
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Christian Marillat <marillat@debian.org>
Homepage: http://www.dennedy.org/mlt/twiki/bin/view/MLT/WebHome
Standards-Version: 3.8.3
Build-Depends: debhelper (>= 5), libmlt-kde3-dev (>= 0.2.4.svn20071228), autoconf, automake

Package: libmlt++0.2.5-kde3
Architecture: any
Depends: ${shlibs:Depends}
Provides: libmlt++-kde3
Description: An open source multimedia framework (C++ wrapper) [KDE3]
 MLT is an open source multimedia framework, designed and developed for
 television broadcasting. It provides a toolkit for broadcasters, video
 editors, media players, transcoders, web streamers and many more types of
 applications. The functionality of the system is provided via an assortment
 of ready to use tools, xml authoring components, and an extendible plug-in
 based API.
 .
 This MLT sub-project provides a C++ wrapping for the MLT library.
 .
 This package contains the core MLT++ library files, needed by applications
 such as the Jahshaka video editor.

Package: libmlt++-kde3-dev
Section: libdevel
Architecture: any
Depends: libmlt++0.2.5-kde3 (= ${binary:Version}), libmlt-kde3-dev (>= 0.2.4.svn20071228)
Description: An open source multimedia framework (C++ wrapper) [KDE3]
 MLT is an open source multimedia framework, designed and developed for
 television broadcasting. It provides a toolkit for broadcasters, video
 editors, media players, transcoders, web streamers and many more types of
 applications. The functionality of the system is provided via an assortment
 of ready to use tools, xml authoring components, and an extendible plug-in
 based API.
 .
 This MLT sub-project provides a C++ wrapping for the MLT library.
 .
 This package contains the MLT++ development files, needed when compiling
 applications such as the Jahshaka video editor.
