	/* ----------------------------------------
	Blank Layout : A CSS context style for the amarok media player
	
	By Florent Verschelde (florent.verschelde@free.fr)
	This is a starting file for anyone who wants to create an amaroK context browser style. This won't look good if used in amaroK as a context browser style, since the only aim of this file is to provide a blank but carefully organized structure.

	This program is free software; you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation; either version 2 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program; if not, write to the Free Software
	Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA

	-------------END OF LICENSE ------------- 
	Colours changed by Ben Morris, to match KDE themes.
	Blanklayout-systemcolours-1.1: Changed highlighting on album headers to only show on mouseover.
	Blanklayout-systemcolours-1.2: Fonts match theme now.
*/



/* STRUCTURE OF THIS FILE :

I GENERIC ATTRIBUTES
		1 body attributes
		2 link attributes
		3 buttons
		4 boxes
		5 score indicators

II SPECIFIC ATTRIBUTES
	A "Summary" Tab
		1 favorite songs box attributes
		2 attributes for the song lists
		3 recent songs box attributes
		4 least listened to songs box attributes
	B "Current" Tab
		1 current box attributes
		2 file not in database box attributes
		3 suggested songs box attributes
		4 favorite songs by Artist box attributes
		5 albums by Artist box attributes
	C "Lyrics" Tab
		1 lyrics box attributes

END */




/* --------GENERIC ATTRIBUTES-------- */

/* ---Body attributes--- */
body{
margin: 23px;
color: windowText;
background-color: #6569AE;
background-image: url(./background.png);
background-position: bottom right;
background-repeat: no-repeat;
background-attachment: fixed;
font-family: sans-serif;
font-size: 13px;
color: #222222;
}

/* ---Link attributes--- */
a{
color: windowtext;
text-decoration: none;

}
	a:hover{
	color: #000000; /*highlightText;*/
	}

/* ---Generic attributes for buttons--- */
/* "class=button" elements (for the "lyrics" tab) */
.button{
border: solid 1px transparent;
padding: 5px;
background-color: ButtonFace;
}
	a.button:hover{
	border: solid 1px #444444;
	}
/* input elements (for the "not in database" box) */
input{
width: 100%;
background-color: menU;
}

/* ---Generic attributes for boxes--- */
.box{
border: none;
margin-bottom: 10px;
background: none;
}
	.box-header{
	padding: 5px;
  background: url(./head.png) repeat-y;
  width: 240px;
	}
		.box-header-title{
		font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    height: 16px;
		}
	.box-body{
	padding: 5px;
	}
	.box-row{
	}
	.box-row-alt{
	}
	.box a{
	}

/* ---Generic attributes for the score indicators--- */
.scoreBox{
}
	.sbinner{
	height: 10px;
	background: menU;
	}
	.sbouter{
	width: 50px;
	height: 10px;
	border: 1px solid #444444;
	}



/* --------SPECIFIC ATTRIBUTES-------- */

/* ["Summary" tab] */

/* ---Attributes for the "Favorites" box--- */
#favorites_box{
}
	/* "Favorites" box header */
	#favorites_box-header{

	}
		#favorites_box-header-title{
		}
	
	/* "Favorites" box body */
	#favorites_box-body{
	padding: 10px;
	}
		#favorites_box-body .song a{
		margin-right: 5px;
		}

/* ---Attributes for the song lists (in the "Summary" tab, not for the tracklisting in the "Album by Artist" box)--- */
.song{
}
	.song a{
	display: block;
	padding: 5px;
	border: 1px solid transparent;
	}
		.song a:hover{
		background: #C7D0E8;
		border: 1px solid #444444;
		}
	td.song-place{
	}
	.song-artist{
	}
	.song-separator{
	}
	.song-title{
	}
	.song-time{
	}
	.song-album{
	}
	.song-score{
	}
		.song td.sbtext{
		}
		.song td.sbtext+td{
		}
		.song div.sbinner{
		}
		.song div.sbouter{
		}

/* ---Attributes for the "Newest songs" box--- */
#newest_box{
}
	/* "Newest songs" box header */
	#newest_box-header{
	}
		#newest_box-header-title{
		}
	/* "Newest songs" box body */
	#newest_box-body{
	padding: 5px;
	}
		#newest_box-body a{
		padding: 5px; 
		}
			#newest_box-body a:hover{
			}
		#newest_box-body>div{
		}

/* ---Attributes for the "Least" box--- */
#least_box{
}
	/* "Least" box header */
	#least_box-header{
	}
		#least_box-header-title{
		}
	/* "Least" box body */
	#least_box-body{
	padding: 5px;
	}
		#least_box-body a{
		padding: 5px; 
		}
		#least_box-body a:hover{
		}



/* ["Current" tab] */

/* Attributes for the "Current song" box */
#current_box{
}
	/* "Current song" box header */
	#current_box-header{
	}
		#current_box-header-album{
		}
		#current_box-header-artist{
		}
		#current_box-header-separator{
		}
		#current_box-header-songname{
		}
	/* "Current song" box body */
	#current_box-table{
	}
		
		#current_box-largecover-td{
		}
			#current_box-largecover-a{
			}
			#current_box-largecover-image{
			padding: 5px;
			}
		#current_box-information-td{
		padding: 5px;
		text-align: right;
		}
			#musicbrainz-div{
			}
				#musicbrainz-a{
				}
				#musicbrainz-image{
				}

/* ---Attributes for the "File not in database" box--- */
#notindb_box-body{
padding: 5px;
}

/* Attributes for the "Suggested songs" box */
#suggested_box{
}
	/* "Suggested songs" box header */
	#suggested_box-header{
	}
	#suggested_box-header-title{
	}
	/* "Suggested songs" box table */
	#T_SS{
	margin: 5px;
	}
		#T_SS td{
		margin-top: 5px;
		}
		#T_SS .song a{
		}

/* Attributes for the "Favorites songs by Artist" box */
#favoritesby_box{
}
	/* "Favorites songs by Artist" box header */
	#favoritesby-header{
	}
		#favoritesby_box-header-title{
		}
	/* "Favorites songs by Artist" box table */
	#T_FT{
	margin: 5px;
	}
		#T_FT td{
		margin-top: 5px;
		}
		#T_FT td.song a{
		}

/* ---Attributes for the "Albums by Artist" box--- */
#albums_box{
}
	/* "Albums" box header */
	#albums_box-header{
	}
	#albums_box-header-title{
	}
	/* "Albums" box body */
	#albums_box-body{
	}
		/* album header (title area) */
		.album-header{
		background: none;
		color: windowtext;
		}
			.album-header:hover{
			cursor: pointer;
			background: #C7D0E8;
			}	
				.album-header:hover a{
				background: #C7D0E8;
				color: black;
				}
			.album-image{
			margin: 5px;
			}
			.album-title{
			}
			.album-year{
			}
			.album-info{
			float: right;
			}
		/* album body (tracklisting) */
		.album-body{
		padding: 10px;
		}
			.album-song{
			}
				.album-song a{
				}
					.album-song a:hover{
					background: #C7D0E8;
					}
				.album-song-trackno{
				}
				.album-song-title{
				}
				.album-song-time{
				}



/* ["Lyrics" tab] */

/* ---Attributes for the "Lyrics" box--- */
#lyrics_box{
}
	/* "Lyrics" box header */
	#lyrics_box-header{
	}
		#lyrics_box-header-title{
		}
	
	/* "Lyrics" box body */
	#lyrics_box-body{
	padding: 5px;
	}
		#lyrics_box-body>a{
		}
			#lyrics_box-body>a:hover{
			background: #C7D0E8;
			color: #222222;
			}
		#lyrics_box_addlyrics{
		margin-top: 20px;
		}
		#lyrics_box_searchlyrics{
		margin-top: 20px;
		margin-bottom: 20px;
		}
