#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include debian/cdbs/kde.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk
include /usr/share/cdbs/1/rules/utils.mk

DEB_CONFIGURE_INCLUDEDIR := /opt/kde3/include/tde
DEB_CONFIGURE_MANDIR := /opt/kde3/share/man
DEB_CONFIGURE_PREFIX := /opt/kde3
DEB_CONFIGURE_INFODIR := /opt/kde3/share/info

cdbs_configure_flags := --with-qt-dir=/usr/share/qt3 --disable-rpath --with-xinerama $(cdbs_kde_enable_final) $(cdbs_kde_enable_debug)

DEB_CONFIGURE_SCRIPT_ENV += LDFLAGS="-Wl,--as-needed"
DEB_DH_INSTALL_ARGS := --sourcedir=debian/tmp
DEB_INSTALL_MANPAGES_kile := debian/kile.1
DEB_CONFIGURE_EXTRA_FLAGS := --prefix=/opt/kde3 --with-extra-libs=/opt/kde3/lib --with-extra-includes=/opt/kde3/include/tde

post-patches:: debian/stamp-bootstrap

debian/stamp-bootstrap:
	! [ -f /usr/share/libtool/ltmain.sh ] || \
	cp -f /usr/share/libtool/ltmain.sh admin/ltmain.sh
	! [ -f /usr/share/libtool/config/ltmain.sh ] || \
	cp -f /usr/share/libtool/config/ltmain.sh admin/ltmain.sh
	cp -f /usr/share/aclocal/libtool.m4 admin/libtool.m4.in
	
	make -f admin/Makefile.common cvs
	touch debian/stamp-bootstrap

install/kile-kde3-i18n-br::
	-for language in `cd translations; ls -1d */`; do \
		cd $(CURDIR)/$(DEB_BUILDDIR)/translations/$$language; \
		$(MAKE) install DESTDIR=$(CURDIR)/debian/kile-kde3-i18n-$$language; \
	done

	cd $(CURDIR)/$(DEB_BUILDDIR)/translations/en_GB/; \
	$(MAKE) install DESTDIR=$(CURDIR)/debian/kile-kde3-i18n-engb

	cd $(CURDIR)/$(DEB_BUILDDIR)/translations/pt_BR/; \
	$(MAKE) install DESTDIR=$(CURDIR)/debian/kile-kde3-i18n-ptbr

	cd $(CURDIR)/$(DEB_BUILDDIR)/translations/sr@Latn/;\
	$(MAKE) install DESTDIR=$(CURDIR)/debian/kile-kde3-i18n-srlatin

	cd $(CURDIR)/$(DEB_BUILDDIR)/translations/zh_CN/; \
	$(MAKE) install DESTDIR=$(CURDIR)/debian/kile-kde3-i18n-zhcn

install/kile-kde3::
	# Install pixmap
	install -D -p -m0644 debian/kile.xpm debian/kile-kde3/opt/kde3/share/pixmaps/kile.xpm

	chmod +x debian/tmp/opt/kde3/share/apps/kile/test/runTests.sh

clean::
	rm -rf debian/kile-kde3-i18n-*

get-orig-source:
	@@dh_testdir
	@@[ -d ../tarballs/. ]
	@@dpatch-get-origtargz ../tarballs

