Source: ubiquity-trinity
Section: admin
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
Build-Depends: cdbs, debhelper (>= 7.0.50~)
Standards-Version: 3.8.4

Package: ubiquity-trinity
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ubiquity-frontend-gtk | ubiquity
Description: Ubiquity addon scripts for Trinity
