#! /usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

DEB_DH_BUILDDEB_ARGS += -- -Z$(shell dpkg-deb --help | grep -q ":.* xz[,.]" \
                               && echo xz || echo bzip2)
