Source: knowit-kde3
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Lorenzo Villani <arbiter@arbiterlab.net>
Build-Depends: debhelper (>= 5), kdelibs4-kde3-dev, automake1.11-kde3, autoconf2.63, libtool, libltdl-dev
Standards-Version: 3.8.3
Homepage: http://knowit.sourceforge.net/

Package: knowit-kde3
Architecture: any
Depends: ${shlibs:Depends}
Description: Tool for managing notes [KDE3]
 KnowIt is a tool for managing notes which are organized in
 tree-like hierarchy. It is similar to TuxCards,
 but KDE-based, and requires KDE3.
