Source: tde-style-qtcurve-trinity
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Bastian Venthur <venthur@debian.org>
Build-Depends: debhelper (>= 5), tdelibs4-trinity-dev, cmake
Standards-Version: 3.8.4

Package: tde-style-qtcurve-trinity
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: tde-style-qtcurve-kde3 (<< 4:3.5.13)
Breaks: tde-style-qtcurve-kde3 (<< 4:3.5.13)
Recommends: gtk2-engines-qtcurve
Provides: tde-style-qtcurve
Description: This is a set of widget styles for Trinity based apps
 This package together with gtk2-engines-qtcurve aim to provide a unified look
 and feel on the desktop when using KDE and Gnome applications.
 .
 This package is most useful when installed together with 
 gtk2-engines-qtcurve.

Package: qtcurve-trinity
Architecture: any
Depends: tde-style-qtcurve-trinity, gtk2-engines-qtcurve
Replaces: qtcurve-kde3 (<< 4:3.5.13)
Breaks: qtcurve-kde3 (<< 4:3.5.13)
Description: This is a set of widget styles for Trinity and Gtk2 based apps
 This is an empty dummy package which will drag the packages 
 tde-style-qtcurve and gtk2-engines-qtcurve in your system.

