
module tdm.el7 1.0;

require {
        type fprintd_t;
        type init_t;
        class dbus send_msg;
}

#============= fprintd_t ==============
allow fprintd_t init_t:dbus send_msg;
