Source: kdelibs-kde3
Section: libs
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Adeodato Simó <dato@net.com.org.es>, Ana Beatriz Guerrero Lopez <ana@debian.org>, Daniel Schepler <schepler@debian.org>, Fathi Boudra <fboudra@free.fr>, Sune Vuorela <debian@pusling.com>
Build-Depends: cdbs (>= 0.4.41ubuntu2), debhelper (>= 5.0.31), autotools-dev,
 binutils (>= 2.14.90.0.7), docbook-to-man, gawk, gettext,
 libart-2.0-dev (>= 2.3.17), libarts1-kde3-dev (>= 1.5.0), libacl1-dev,
 libattr1-dev, libasound2-dev [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386],
 libaspell-dev, hspell, libbz2-dev, libcupsys2-dev,
 libidn11-dev, libjasper-dev (>= 1.900.1), libkrb5-dev, libldap2-dev,
 liblualib50-dev, libopenexr-dev (>= 1.2.2-4.1), libpcre3-dev,
 libqt3-mt-dev (>= 3:3.3.7), libsasl2-dev, libssl-dev,
 libtiff4-dev (>= 3.7.3-1), libavahi-client-dev (>= 0.4),
 libavahi-qt3-dev (>= 0.4), libxml2-dev, libxml2-utils, libxslt1-dev,
 sharutils, texinfo, libogg-dev-la, libtqtinterface-dev,
 gettext-kde, kdesdk-scripts-kde3, lsb-release, base-files, sudo,
 cmake, libltdl-dev
Build-Depends-Indep: doxygen, qt3-doc, graphviz, gsfonts-x11
Standards-Version: 3.8.3

Package: kdelibs-kde3
Section: libs
Architecture: all
Provides: kdelibs
Conflicts: kdelibs
Depends: kdelibs4c2a-kde3 (>= ${Source-Version}),
 kdelibs-data-kde3 (>= ${Source-Version})
Description: core libraries from the official KDE release
 KDE (the K Desktop Environment) is a powerful Open Source graphical
 desktop environment for Unix workstations. It combines ease of use,
 contemporary functionality, and outstanding graphical design with the
 technological superiority of the Unix operating system.
 .
 This metapackage includes the core KDE libraries, binaries, and data,
 needed by virtually all KDE applications. It does not include
 development files.

Package: kdelibs-data-kde3
Section: libs
Architecture: all
Depends: hicolor-icon-theme
Provides: kdelibs-data
Conflicts: kdelibs-data
Replaces: kdeartwork-style-kde3 (<< 7:3.4.0), konq-plugins-kde3 (<< 7:3.4.0),
 ksvg-kde3 (<< 7:3.4.0), kpackage-kde3 (<< 4:3.4.2), kicker-kde3 (<< 4:3.5-rc1),
 kttsd-kde3 (<< 4:3.5-rc1), kdevelop3-data-kde3 (<< 4:3.3.0), libdjvulibre1,
 libdjvulibre15 (<< 3.5.16-2), krita (= 1:1.4.90.1-1), digikam-kde3 (<< 0.8.1-3),
 kaffeine-kde3 (<< 0.8.1-3)
Description: core shared data for all KDE applications
 This package contains all the architecture independent data files
 commonly used by KDE applications. You need these data files to run
 KDE applications.
 .
 This package is part of KDE, and a component of the KDE libraries module.
 See the 'kde-kde3' and 'kdelibs-kde3' packages for more information.

Package: kdelibs4c2a-kde3
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, kdelibs-data-kde3 (>> ${KDE-Version3}),
 kdelibs-data-kde3 (<< ${KDE-Next-Version3}), perl, xbase-clients,
 launchpad-integration, sudo
Recommends: xdg-user-dirs
Suggests: fam, perl-suid
Conflicts: kdelibs4-kde3, kdelibs4c2-kde3 (>> 4:1.0.0), kdelibs-bin-kde3 (<< 4:3.3.3), kdelibs4-kde3-dev (<< 4:3.5.7.dfsg.1-6)
Replaces: kdelibs4-kde3, kdeartwork-style-kde3,
 kcontrol-kde3, kdelibs-bin-kde3 (<< 4:3.5.3-1),
 kdelibs4-kde3-dev (= 4:3.5.7.dfsg.1-5)
Description: core libraries and binaries for all KDE applications
 This package contains all the shared libraries and common core binaries
 used by all KDE applications. You need these libraries and binaries to
 run KDE applications.
 .
 Several scripts included in kdebase-bin, related to the handling of SMB
 and NFS shares, require the perl-suid package to work properly.
 .
 This package is part of KDE, and a component of the KDE libraries module.
 See the 'kde-kde3' and 'kdelibs-kde3' packages for more information.

Package: kdelibs4-kde3-dev
Section: libdevel
Architecture: any
Depends: kdelibs4c2a-kde3 (= ${Source-Version}), libart-2.0-dev (>= 2.3.17),
 libarts1-kde3-dev (>= 1.5.0), ${libasound2-dev}, libacl1-dev, libattr1-dev,
 libaspell-dev, hspell, libbz2-dev, libcupsys2-dev,
 libidn11-dev, libjasper-dev (>= 1.900.1), libkrb5-dev,
 libopenexr-dev (>= 1.2.2-3), libpcre3-dev, liblualib50-dev,
 libqt3-mt-dev (>= 3:3.3.5), libsasl2-dev, libssl-dev,
 libtiff4-dev (>= 3.7.3-1), libxml2-dev, libxml2-utils, libxslt1-dev,
 libavahi-client-dev (>= 0.4), libavahi-qt3-dev (>= 0.4), libtqtinterface-dev,
 gettext-kde, kdesdk-scripts-kde3
Provides: kdelibs-kde3-dev
Replaces: kdebase-kde3-dev (<< 7:3.4.0), kdelibs4c2a-kde3 (<< 4:3.5.8-3ubuntu2)
Description: development files for the KDE core libraries
 This package contains all the headers and other related files needed
 to compile KDE applications, or develop applications which use the
 core KDE libraries.
 .
 This package is part of KDE, and a component of the KDE libraries module.
 See the 'kde-kde3' and 'kdelibs-kde3' packages for more information.

Package: kdelibs4-kde3-doc
Section: doc
Architecture: all
Provides: kdelibs-kde3-doc
Description: developer documentation for the KDE core libraries
 This package contains documentation for the core KDE libraries, of
 use more for developers creating applications which use the core
 KDE libraries, than regular users.
 .
 This package is part of KDE, and a component of the KDE libraries module.
 See the 'kde-kde3' and 'kdelibs-kde3' packages for more information.

Package: kdelibs-kde3-dbg
Section: libdevel
Architecture: any
Priority: extra
Conflicts: kdelibs4-kde3-dbg, kdelibs4c2-kde3-dbg, kdelibs4c2a-kde3-dbg
Replaces: kdelibs4-kde3-dbg, kdelibs4c2-kde3-dbg, kdelibs4c2a-kde3-dbg
Depends: kdelibs4c2a-kde3 (= ${Source-Version}), qt-x11-free-dbg, libc6-dbg [amd64]
Description: debugging symbols for kdelibs
 This package contains the debugging symbols associated with kdelibs.
 They will automatically be used by gdb for debugging kdelibs-related
 issues.
