Source: mplayerthumbs-trinity
Section: tde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
Build-Depends: cdbs, debhelper (>= 5), automake, libtool, autotools-dev, tdelibs4-trinity-dev
Standards-Version: 3.8.2

Package: mplayerthumbs-trinity
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, mplayer
Description: thumbnail generator for video files on Konqueror [Trinity]
 MPlayerThumbs is a thumbnail generator for video files on
 Konqueror. Unlike the original konqueror plugin (libarts1-xine),
 it depends on neither xine nor arts, instead it uses only
 mplayer. You can take advantage of this on x86_64 systems,
 where you can use a 32bit mplayer to load win32codecs.
 .
  Homepage: http://kde-apps.org/content/show.php?content=41180
