Source: libksquirrel-kde3
Section: libs
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Harald Sitter <apachelogger@ubuntu.com>
Build-Depends: debhelper (>= 5), cdbs, pkg-config, libmng-dev,librsvg2-bin,
 medcon, libjasper-dev, libungif4-dev, libwmf-dev, libopenexr-dev,
 djvulibre-bin, transfig, x11proto-core-dev, netpbm, libtiff4-dev,
 libkonq4-kde3-dev, kipi-plugins-kde3, libkipi0-kde3-dev, dpatch, build-essential,
 automake1.11-kde3, autoconf2.63, libtool, libltdl-dev
Standards-Version: 3.8.3
Homagepage: http://ksquirrel.sourceforge.net

Package: libksquirrel0-kde3
Architecture: any
Depends: ${shlibs:Depends}
Description: KDE3 image viewer
 Runtime libraries for KSquirrel.

Package: libksquirrel-kde3-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, libksquirrel0-kde3 (= ${binary:Version})
Description: KDE3 image viewer
 Development libraries for KSquirrel.

Package: libksquirrel-tools-kde3
Architecture: any
Depends: ${shlibs:Depends}, libksquirrel0-kde3 (= ${binary:Version})
Description: KDE3 image viewer
 Tools for KSquirrel.
