[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-TDE-ServiceType=Kaffeine/CodecInstall

# The unplayable codec
[PropertyDef::X-TDE-Kaffeine-codec]
Type=TQString

[PropertyDef::X-TDE-Kaffeine-engine]
Type=TQString

[PropertyDef::Exec]
Type=TQString
