# this file is "/usr/share/applications/kde/kaffeine-iso.desktop"
[Desktop Entry]
Exec=kaffeine dvd:%f
Icon=kaffeine
MimeType=application/x-iso
Name=kaffeine
Name[en_US]=kaffeine
StartupNotify=true
Terminal=false
Type=Application
NoDisplay=true
