Source: smb4k-trinity
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
Build-Depends: tdebase-trinity-dev, tdelibs4-trinity-dev, libart-2.0-dev, libpng3-dev, zlib1g-dev, debhelper (>= 4.1.0), cdbs, libx11-dev, libxext-dev, libxpm-dev, x-dev | x11proto-core-dev | libx11-dev, automake, autoconf, libtool, libltdl-dev
Standards-Version: 3.8.4
Homepage: http://smb4k.berlios.de/

Package: smb4k-trinity
Architecture: any
Depends: ${shlibs:Depends}, samba-common, smbclient, smbfs
Replaces: smb4k-kde3 (<< 4:3.5.13)
Breaks: smb4k-kde3 (<< 4:3.5.13)
Recommends: super | sudo-trinity
Description: A Samba (SMB) share advanced browser for Trinity
 Smb4K is a SMB (Windows) share browser for KDE. It uses the Samba software 
 suite to access the SMB shares of the local network neighborhood. Its purpose
 is to provide a program that's easy to use and has as many features as 
 possible.
