Source: knights-kde3
Section: games
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Jose Carlos Medeiros <debian@psabs.com.br>
Uploaders: Ola Lundqvist <opal@debian.org>
Build-Depends: debhelper (>= 5.0.0), kdelibs4-kde3-dev, poxml, dpatch, imagemagick, libx11-dev, libxext-dev, libxinerama-dev, libxpm-dev, x-dev | x11proto-core-dev, libasound2-dev, automake1.11-kde3, autoconf2.63, libtool, libltdl-dev
Standards-Version: 3.8.3
Homepage: http://knights.sourceforge.net/

Package: knights-kde3
Architecture: any
Depends: ${shlibs:Depends}, kdebase-kio-plugins-kde3
Suggests: gnuchess | crafty | sjeng, knights-themepack-kde3
Description: A chess interface for the K Desktop Environment [KDE3]
 Knights aims to be the ultimate chess resource on your computer. 
 Written for the K Desktop Environment, it's designed to be both friendly 
 to new chess players and functional for Grand Masters.
 .
 Here's a quick list of Knights' key features:
 .
    * Play against yourself, against computer opponents, 
      or against others over the Internet.
    * Customize your board and pieces with over 30 different themes, 
      or make your own!
    * Audio cues help alert you to important events.
    * Novice players can preview potential moves.
    * Save your unfinished matches and play them again later.
