Source: python-tqt
Section: python
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Torsten Marek <shlomme@debian.org>, Bernd Zeimetz <bzed@debian.org>, Michael Casadevall <mcasadevall@debian.org>
Build-Depends: debhelper (>= 6.0.7~), python-all-dev (>= 2.3.5-10), libtqtinterface-dev, tqt3-dev-tools, tqt3-apps-dev, python-sip-dev (>= 4.10.0-2ubuntu1), libtqscintilla-dev, python-support (>= 0.7.1), python-sip-dbg, python-all-dbg
Standards-Version: 3.8.4

Package: python-tqt
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, ${sip:Depends}, ${misc:Depends}
Suggests: python-tqt-gl, python-tqt-doc, libtqt3-mt-mysql|libtqt3-mt-odbc|libtqt3-mt-psql
Provides: ${python:Provides}
Description: TQt bindings for Python
 Python binding module that allows use of TQt X Window toolkit v3.
 You can use it to create portable graphics-capable scripts (there
 are PyQt versions for Linux, Windows and MacOS X).
 .
 At this moment PyQt offers a vast subset of TQt API. There are
 some minor issues related to the differences between C++ and Python
 (types, etc), but usually you'll be able to write code pretty much the
 same way in both languages (with syntax differences, of course)

Package: python-tqt-dbg
Architecture: any
Priority: extra
Section: debug
Depends: ${shlibs:Depends}, python-dbg, python-tqt (= ${binary:Version}), python-sip-dbg, ${misc:Depends}
Description: TQt bindings for Python (debug extension)
 Python binding module that allows use of TQt X Window toolkit v3.
 You can use it to create portable graphics-capable scripts (there
 are PyQt versions for Linux, Windows and MacOS X).
 .
 This package contains the extension built for the Python debug interpreter.

Package: python-tqt-gl
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, python-tqt (= ${binary:Version}), python-opengl (>= 2.0.1.09-2.2), ${misc:Depends}
Suggests: python-tqt-doc
Provides: ${python:Provides}
Description: TQt OpenGL bindings for Python
 Python binding module that allows use of the OpenGL facilities
 offered by the TQt X Window toolkit v3. You can use it to create
 portable graphics-capable scripts (there are PyQt versions for
 Linux, Windows and MacOS X).

Package: python-tqt-gl-dbg
Priority: extra
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, python-dbg, python-tqt-gl (= ${binary:Version}), python-tqt-dbg (= ${binary:Version}), ${misc:Depends}
Description: TQt OpenGL bindings for Python (debug extension)
 Python binding module that allows use of the OpenGL facilities
 offered by the TQt X Window toolkit v3. You can use it to create
 portable graphics-capable scripts (there are PyQt versions for
 Linux, Windows and MacOS X).
 .
 This package contains the extension built for the Python debug interpreter.

Package: python-tqtext
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, python-tqt (= ${binary:Version}), ${misc:Depends}
Provides: ${python:Provides}
Description: TQt extensions for PyQt
 PyQt Extensions. Contains:
 .
   * QScintilla: a featureful TQt source code editing component based
                 on Scintilla.

Package: python-tqtext-dbg
Priority: extra
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, python-dbg, python-tqtext (= ${binary:Version}), python-tqt-dbg (= ${binary:Version}), ${misc:Depends}
Description: TQt debug extensions for PyQt
 PyQt debug Extensions. Contains:
 .
   * QScintilla: a featureful TQt source code editing component based
                 on Scintilla.

Package: pytqt-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: pyuic and pylupdate for TQt
 pyuic is the PyQt counterpart for TQt's uic. It takes an XML
 user interface file and generates Python code.
 .
 pylupdate is the counterpart for TQt's lupdate. It updates TQt
 Linguist translation files from Python code.

Package: python-tqt-dev
Depends: ${python:Depends}, ${misc:Depends}
Suggests: python-sip-dev
Replaces: python-tqt (<< 3.17.3-2)
Architecture: all
Description: TQt bindings for Python - Development files
 Development .sip files with definitions of PyQt classes. They
 are needed to build PyQt, but also as building blocks of other
 packages based on them, like PyKDE.

Package: python-tqt-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Suggests: python-tqt
Description: TQt bindings for Python - Documentation and examples
 Documentation and examples for the PyQt (bindings that allow
 the use of TQt library from within a Python script).
