# This is not really a .desktop file like the rest, but it's useful to treat
# it as such

[GdmGreeterTheme]
Encoding=UTF-8
Greeter=kubuntu.xml
Name=Debian O2 - No Userlist
Description=A cartoonish TDM theme for Debian
Author=Ken Wimer (wimer@kde.org)
Screenshot=preview.png
