Source: kdeartwork-kde3
Section: kde
Priority: optional
Maintainer: Ubuntu Core developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Christopher Martin <chrsmrtn@debian.org>, Sune Vuorela <debian@pusling.com>
Build-Depends: cdbs (>= 0.4.39-0.1), debhelper (>= 5.0.31), autotools-dev, kdelibs4-kde3-dev (>= 4:3.5.10), gawk, gettext, sharutils, kdebase-kde3-dev (>= 4:3.5.10), kwin-kde3, libgl1-mesa-dev | libgl-dev, libglu1-mesa-dev | libglu-dev, xscreensaver, xscreensaver-gl, xscreensaver-data, xscreensaver-data-extra, xscreensaver-gl-extra, automake1.11-kde3, autoconf2.63, libtool, libltdl-dev
Build-Conflicts: autoconf2.13, nvidia-glx
Standards-Version: 3.8.3

Package: kdeartwork-kde3
Architecture: all
Section: kde
Depends: kdeartwork-misc-kde3 (>= ${Source-Version}), kdeartwork-emoticons-kde3 (>= ${Source-Version}), kdeartwork-style-kde3 (>= ${Source-Version}), kdeartwork-theme-icon-kde3 (>= ${Source-Version}), kdeartwork-theme-window-kde3 (>= ${Source-Version}), kdewallpapers-kde3 (>= ${Source-Version}), kscreensaver-kde3 (>= ${Source-Version})
Recommends: kscreensaver-xsavers-kde3
Description: themes, styles and more from the official KDE3 release
 KDE (the K Desktop Environment) is a powerful Open Source graphical
 desktop environment for Unix workstations. It combines ease of use,
 contemporary functionality, and outstanding graphical design with the
 technological superiority of the Unix operating system.
 .
 This metapackage includes a collection of artistic extras (themes, widget
 styles, screen savers, wallpaper, icons, emoticons and so on) provided
 with the official release of KDE.
 .
 Homepage: http://artist.kde.org 

Package: kdeartwork-emoticons-kde3
Architecture: all
Section: kde
Enhances: kopete-kde3
Description: emoticon collections for KDE chat clients
 This package contains several collections of emoticons used by official
 and unofficial KDE chat clients, such as Kopete and Konversation.
 .
 This package is part of KDE, and a component of the KDE artwork module.
 See the 'kde-kde3' and 'kdeartwork-kde3' packages for more information.

Package: kdeartwork-misc-kde3
Architecture: all
Section: kde
Suggests: kworldclock
Description: various multimedia goodies released with KDE
 This package contains miscellaneous multimedia goodies for KDE.
 Included are additional KDE sounds and kworldclock themes.
 .
 This package is part of KDE3, and a component of the KDE artwork module.
 See the 'kde-kde3' and 'kdeartwork-kde3' packages for more information.

Package: kdeartwork-style-kde3
Architecture: any
Section: kde
Depends: ${shlibs:Depends}
Description: widget styles released with KDE3
 This package contains additional widget styles for KDE3. Widget styles
 can be used to customise the look and feel of interface components such
 as buttons, scrollbars and so on.  They can be applied using the style
 manager in the KDE Control Centre.
 .
 This package is part of KDE3, and a component of the KDE artwork module.
 See the 'kde-kde3' and 'kdeartwork-kde3' packages for more information.

Package: kdeartwork-theme-icon-kde3
Architecture: all
Section: kde
Recommends: kdesktop-kde3, kicker-kde3
Replaces: kdelibs-data-kde3 (<< 4:3.5)
Description: icon themes released with KDE3
 This package contains additional icon themes for KDE3. Icon themes can be
 used to customise the appearance of standard icons throughout KDE. They
 can be applied using the icon manager in the KDE3 Control Centre.
 .
 This package is part of KDE3, and a component of the KDE artwork module.
 See the 'kde-kde3' and 'kdeartwork-kde3' packages for more information.

Package: kdeartwork-theme-window-kde3
Architecture: any
Section: kde
Depends: ${shlibs:Depends}
Description: window decoration themes released with KDE3
 This package contains additional window decoration themes for KDE3. Window
 decoration themes can be used to customise the look of window borders and
 buttons, and can be applied using the window decoration manager in the KDE3
 Control Center.
 .
 This package is part of KDE3, and a component of the KDE artwork module.
 See the 'kde-kde3' and 'kdeartwork-kde3' packages for more information.

Package: kdewallpapers-kde3
Architecture: all
Section: kde
Suggests: kwin-kde3 | x-window-manager
Replaces: kdebase-data-kde3 (<< 4:3.5)
Description: wallpapers released with KDE3
 This package contains additional wallpapers for KDE3. Wallpapers can be
 applied using the background manager in the KDE Control Centre.
 .
 This package is part of KDE3, and a component of the KDE artwork module.
 See the 'kde-kde3' and 'kdeartwork-kde3' packages for more information.

Package: kscreensaver-kde3
Architecture: any
Section: kde
Depends: ${shlibs:Depends}, kdebase-kde3-bin
Recommends: kwin-kde3, kscreensaver-xsavers-kde3 (= ${Source-Version})
Description: additional screen savers released with KDE3
 This package contains the screen savers for KDE3. They can be tested and
 selected within the Appearance and Themes section of the KDE3 Control
 Center.
 .
 The hooks for the standard xscreensavers are no longer part of this
 package. To select and/or configure the standard xscreensavers through
 the KDE Control Center, install the separate package kscreensaver-xsavers.
 .
 This package is part of KDE3, and a component of the KDE artwork module.
 See the 'kde-kde3' and 'kdeartwork-kde3' packages for more information.

Package: kscreensaver-xsavers-kde3
Architecture: any
Section: kde
Depends: ${shlibs:Depends}, kdebase-kde3-bin, xscreensaver-data
Recommends: kwin-kde3, kscreensaver-kde3 (= ${Source-Version}), xscreensaver-gl
Suggests: kscreensaver-xsavers-webcollage-kde3
Description: KDE3 hooks for standard xscreensavers
 This package allows a smooth integration of the standard xscreensavers
 into KDE3. With this package installed you can select and/or configure
 the standard xscreensavers through the Appearances and Themes section of
 the KDE3 Control Centre.
 .
 Note that this package does not actually contain any screensavers itself.
 For the additional screensavers shipped with KDE3, see the separate package
 kscreensaver-kde3. This package does depend on the xscreensaver package, and
 recommend the xscreensaver-gl package, as well as contain the necessary
 files to integrate these packages into KDE3.
 .
 This package is part of KDE3, and a component of the KDE artwork module.
 See the 'kde-kde3' and 'kdeartwork-kde3' packages for more information.

Package: kscreensaver-xsavers-webcollage-kde3
Architecture: all
Section: kde
Depends: kscreensaver-xsavers-extra-kde3, miscfiles | wordlist, netpbm
Description: webcollage screensaver KDE3 hook
 This package give access to the webcollage screensaver through the KDE3
 screensaver configuration.
 .
 This screensaver downloads random pictures from the internet and creates
 a collage as screensaver.
 .
 IMPORTANT NOTICE: The internet contains all kinds of pictures, some of which
 you might find inappropriate and offensive.
 You are specially discouraged to install this package if you are using 
 your computer in a working environment or in an environment with children.
 .
 If you still want to install this package, please read the file
 /usr/share/doc/kscreensaver-xsavers-webcollage/README.Debian after the 
 installation.
 .
 This package is part of KDE3, and a component of the KDE artwork module.
 See the 'kde-kde3' and 'kdeartwork-kde3' packages for more information.

Package: kscreensaver-xsavers-extra-kde3
Architecture: all
Section: kde
Depends: ${shlibs:Depends}, kscreensaver-xsavers-kde3, xscreensaver-data-extra, xscreensaver-gl-extra
Recommends: kwin-kde3, kscreensaver-kde3 (= ${Source-Version})
Description: KDE3 hooks for standard xscreensavers
 This package allows a smooth integration of the universe xscreensavers
 into KDE3. With this package installed you can select and/or configure
 the universe xscreensavers through the Appearances and Themes section of
 the KDE3 Control Centre.
 .
 Note that this package does not actually contain any screensavers itself.
 For the additional screensavers shipped with KDE, see the separate package
 kscreensaver.
 .
 This package is part of KDE3, and a component of the KDE artwork module.
 See the 'kde-kde3' and 'kdeartwork-kde3' packages for more information.

Package: kdeartwork-kde3-dbg
Section: libdevel
Architecture: any
Depends: kdelibs-kde3-dbg
Priority: extra
Description: debugging symbols for kdeartwork-kde3
 This package contains the debugging symbols associated with kdeartwork.
 They will automatically be used by gdb for debugging kdeartwork-related
 issues.
