Source: tde-guidance-trinity
Section: tde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Fathi Boudra <fboudra@free.fr>, Mark Purcell <msp@debian.org>
Build-Depends: cdbs, debhelper (>= 5), quilt, chrpath, tdelibs14-trinity-dev,
 libpythonize0-trinity-dev, libtool, libxml2-utils, libxss-dev, libxxf86vm-dev,
 pytdeextensions-trinity, pytqt-tools, python-tqt, python-trinity-trinity, python-trinity-trinity-dev, python-sip4-dev,
 python-support (>= 0.6), python (>= 2.5), python-dev (>= 2.5), x11proto-scrnsaver-dev, python-tqt-dev, hwdata
Standards-Version: 3.8.4

Package: tde-guidance-trinity
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, pytdeextensions-trinity, python-trinity-trinity, sysv-rc, guidance-backends-trinity, hwdata, python (>= 2.5), python-dev (>= 2.5)
Replaces: kde-guidance-trinity (<< 4:14.0.0~)
Breaks: kde-guidance-trinity (<< 4:14.0.0~)
Conflicts: guidance-power-manager, kde-guidance-powermanager
Provides: ${python:Provides}
Description: collection of KDE system administration tools for GNU/Linux [Trinity]
 Guidance currently consists of four programs designed to help you
 look after your system:
  o  userconfig - User and Group administration
  o  serviceconfig - Service/daemon administration
  o  mountconfig - Disk and filesystem administration
  o  displayconfig - Screen and display configuration
  o  wineconfig - Wine configuration
 .
 These tools are available in KDE Control Center, System Settings 
 or can be run as standalone applications.
 .
  Homepage: http://www.simonzone.com/software/guidance

Package: guidance-backends-trinity
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, hwdata, python (>= 2.5), python-dev (>= 2.5)
Replaces: guidance-backends-trinity (<< 4:14.0.0~)
Breaks: guidance-backends-trinity (<< 4:14.0.0~)
Conflicts: guidance-power-manager, kde-guidance-powermanager
Provides: ${python:Provides}
Description: collection of system administration tools for GNU/Linux [Trinity]
 This package contains the platform neutral backends used in the
 Guidance configuration tools.
 .
  Homepage: http://www.simonzone.com/software/guidance

Package: tde-guidance-powermanager-trinity
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, tde-guidance-trinity, python-trinity-trinity, python-dbus, hal, python-gobject, python (>= 2.5), python-dev (>= 2.5)
Replaces: kde-guidance-powermanager-trinity (<< 4:14.0.0~)
Breaks: kde-guidance-powermanager-trinity (<< 4:14.0.0~)
Conflicts: guidance-power-manager, kde-guidance-powermanager
Provides: ${python:Provides}
Description: HAL based power manager applet [Trinity]
 A power management applet to indicate battery levels and perform hibernate or
 suspend using HAL.
 .
  Homepage: http://www.simonzone.com/software/guidance
