Source: soundkonverter-kde3
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
Uploaders: Fathi Boudra <fabo@debian.org>, Mark Purcell <msp@debian.org>, Michael Meskes <meskes@debian.org>
Build-Depends: cdbs, debhelper (>= 5), quilt, kdelibs4-kde3-dev, libcdparanoia0-dev, libtag1-dev, automake1.11-kde3, autoconf2.63, libtool, libltdl-dev
Standards-Version: 3.8.3
Homepage: http://www.kde-apps.org/content/show.php?content=29024

Package: soundkonverter-kde3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: cdda2wav, cdparanoia, faad, ffmpeg, flac, kdemultimedia-kio-plugins-kde3, mp3gain, mplayer, mppenc, speex, timidity, vorbis-tools, vorbisgain, wavpack
Suggests: soundkonverter-amarok-kde3
Description: audio converter frontend for KDE3
 soundKonverter is a frontend to various audio converters.
 .
 The key features are:
  - Audio conversion
  - Replay Gain calculation
  - CD ripping
 .
 soundKonverter supports reading and writing tags for many formats, so the tags
 are preserved when converting files.
 .
 It comes with an Amarok script.
 .
 See 'soundkonverter-amarok' package for more informations.
 .
 See README.Debian for more informations on supported formats.

Package: soundkonverter-amarok-kde3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, soundkonverter-kde3, amarok-kde3, ruby, libqt0-ruby1.8
Description: audio converter frontend for KDE3 (Amarok script)
 Amarok script for soundKonverter. It allows you to easily transcode files when
 transferring them to your media device.
 .
 See the 'soundkonverter-kde3' package for more information.
