Source: sip4-tqt
Section: devel
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Torsten Marek <shlomme@debian.org>, Bernd Zeimetz <bzed@debian.org>, Michael Casadevall <mcasadevall@debian.org>
Build-Depends: debhelper (>= 7), python-all-dev (>= 2.3.5-10), python-all-dbg, python-support (>= 0.7.1) | python-dev (>= 2.6.6-3~), libtqtinterface-dev
Standards-Version: 3.8.4
XS-Python-Version: all

Package: python-sip-tqt
Architecture: any
Section: python
Replaces: python-sip-tqt (<< 4:14.0.0~)
Breaks: python-sip-tqt (<< 4:14.0.0~)
Provides: ${python:Provides}, sip-api-7.0, sip-api-7.1
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Conflicts: python-sip4 (<< 4.10)
Description: Python/C++ bindings generator runtime library
 SIP is a tool for generating bindings for C++ classes with some ideas
 borrowed from SWIG, but capable of tighter bindings because of its
 specificity towards C++ and Python.

Package: python-sip-tqt-dbg
Priority: extra
Architecture: any
Replaces: python-sip-tqt-dbg (<< 4:14.0.0~)
Breaks: python-sip-tqt-dbg (<< 4:14.0.0~)
Section: debug
Provides: ${python:Provides}
Depends: python-sip-tqt (= ${binary:Version}), python-dbg, ${shlibs:Depends}, ${misc:Depends}
Conflicts: python-sip4-dbg (<< 4.10)
Description: Python/C++ bindings generator runtime library (debug extension)
 SIP is a tool for generating bindings for C++ classes with some ideas
 borrowed from SWIG, but capable of tighter bindings because of its
 specificity towards C++ and Python.
 .
 This package contains the extension built for the Python debug interpreter.

Package: python-sip-tqt-dev
Architecture: any
Section: python
Replaces: python-sip-tqt-dev (<< 4:14.0.0~)
Breaks: python-sip-tqt-dev (<< 4:14.0.0~)
Depends: ${python:Depends}, python-sip-tqt (= ${binary:Version}), python-dev, ${shlibs:Depends}, libjs-jquery, ${misc:Depends}
Recommends: python-sip-tqt (>= ${source:Version})
Provides: python-sip-dev, python-sip4-dev, sip4
Conflicts: python-sip-dev, python-sip4-dev (<< 4.10), sip4 (<< 4.10)
Description: Python/C++ bindings generator development files
 SIP is a tool for generating bindings for C++ classes with some ideas
 borrowed from SWIG, but capable of tighter bindings because of its
 specificity towards C++ and Python.
 .
 SIP was originally designed to generate Python bindings for TDE and so
 has explicit support for the signal slot mechanism used by the TQt/TDE
 class libraries.
 .
 Features:
     - connecting Qt signals to Python functions and class methods
     - connecting Python signals to Qt slots
     - overloading virtual member functions with Python class methods
     - protected member functions
     - abstract classes
     - enumerated types
     - global class instances
     - static member functions.
 .
 This package contains the code generator tool and the development headers
 needed to develop Python bindings with sip.

