Source: kmatplot-trinity
Section: math
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
Build-Depends: debhelper (>> 3.0.0), libtqtinterface-dev, xlibmesa-gl-dev, octave2.1-headers, cdbs, automake, autoconf, libtool, libltdl-dev
Build-Conflicts: scilab
Standards-Version: 3.8.4

Package: kmatplot-trinity
Architecture: any
Depends: ${shlibs:Depends}
Replaces: kmatplot-trinity (<< 4:14.0.0~)
Breaks: kmatplot-trinity (<< 4:14.0.0~)
Recommends: octave2.1
Description: A Gnuplot-like tool for plotting data sets in 2D or 3D
 KMatplot is a gnuplot-like tool for plotting data sets in either two or
 three dimensions. It can plot many types of 2d plots, including pixmaps
 and contours, and 3d surfaces. It offers a full WYSIWYG mode with
 multiple objects on a single page.
 .
 As opposite to Gnuplot, KMatplot is very clickable, so easier to use
 for unexperienced users. It can be used instead of Gnuplot with Octave
 and Scilab - there are new dll functions installed in those packages,
 which communicate with KMatplot through an Unix socket. Those functions
 are named 'kplot', 'kimage', kmesh', ... and are similar to those found
 in Octave by default.
 .
 The Debian package is not built with Scilab support by default.
