Source: kde-style-lipstik-kde3
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
Build-Depends: debhelper (>= 4.0.0), kdelibs4-kde3-dev (>= 4:3.2), dpatch, automake1.11-kde3, autoconf2.63, libtool, libltdl-dev
Standards-Version: 3.8.3

Package: kde-style-lipstik-kde3
Section: kde
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lipstik style for KDE3
 Based on the plastik style, Lipstik is a purified style with many options to
 tune your desktop look.
 .
 Lipstik also provides Lipstik-color-schemes

