#!/usr/bin/make -f

cdbs_kde_enable_debug = --disable-debug

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/kde.mk

DEB_CONFIGURE_EXTRA_FLAGS := --disable-rpath --libdir=/usr/lib/kde3

build-stamp:
	dh_testdir

	/usr/bin/libtoolize -f
	cp -f /usr/share/aclocal/libtool.m4 admin/libtool.m4.in
	cp -f /usr/share/misc/config.guess admin/config.guess
	cp -f /usr/share/misc/config.sub admin/config.sub

	$(MAKE) -f admin/Makefile.common
	
	QTDIR=/usr/share/tqt3 ./configure $(configkde) --disable-final 
	$(MAKE)
	touch build-stamp
