#!/usr/bin/make -f

#export DH_VERBOSE=1

DEB_DH_BUILDDEB_ARGS += -- -Z$(shell dpkg-deb --help | grep -q ":.* xz[,.]" \
                               && echo xz || echo bzip2)

debian/stamp-distrospecific:
	dh_testdir
	[ -e debian/stamp-distrospecific ] || \
	ls -a1 debian/distrospecific | grep -v "^\.*$$" | \
	tee debian/stamp-distrospecific | \
	tr "\n" "\0" | (cd debian/distrospecific && xargs -r0 mv -t ../..)

clean:
	dh_testdir
	[ ! -e debian/stamp-distrospecific ] || \
	cat debian/stamp-distrospecific | \
	tr "\n" "\0" | xargs -r0 mv -t debian/distrospecific
	rm -f debian/stamp-distrospecific
	dh_clean
	rm -rf build-stamp *.old debootstrap-dir

DEB_BUILD_ARCH:=$(shell dpkg-architecture -qDEB_BUILD_ARCH)

build: debian/stamp-distrospecific build-stamp
build-stamp:
	dh_clean

	for seed in desktop; do \
		package=kubuntu-$$seed-trinity; \
		echo -n > debian/$$package.substvars; \
		if [ -f $$seed-all ]; then \
			(printf "$$seed-all:Depends="; perl -pe 's/\n/, /g'  $$seed-all; echo) \
			>> debian/$$package.substvars; \
		fi; \
		if [ -f $$seed-recommends-all ]; then \
			(printf "$$seed-all:Recommends="; perl -pe 's/\n/, /g'  $$seed-recommends-all; echo) \
			>> debian/$$package.substvars; \
		fi; \
		if [ -f $$seed-suggests-all ]; then \
			(printf "$$seed-all:Suggests="; perl -pe 's/\n/, /g'  $$seed-suggests-all; echo) \
			>> debian/$$package.substvars; \
		fi; \
		if [ -f $$seed-$(DEB_BUILD_ARCH) ]; then \
			(printf "$$seed-arch:Depends="; perl -pe 's/\n/, /g'  $$seed-$(DEB_BUILD_ARCH); echo) \
			>> debian/$$package.substvars; \
		fi; \
		if [ -f $$seed-recommends-$(DEB_BUILD_ARCH) ]; then \
			(printf "$$seed-arch:Recommends="; perl -pe 's/\n/, /g'  $$seed-recommends-$(DEB_BUILD_ARCH); echo) \
			>> debian/$$package.substvars; \
		fi; \
		if [ -f $$seed-suggests-$(DEB_BUILD_ARCH) ]; then \
			(printf "$$seed-arch:Suggests="; perl -pe 's/\n/, /g'  $$seed-suggests-$(DEB_BUILD_ARCH); echo) \
			>> debian/$$package.substvars; \
		fi; \
	done
	touch $@

install: build-stamp

binary-arch: install
	dh_testdir -a
	dh_testroot -a
	dh_installdocs -a
	dh_installchangelogs -a
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a $(DEB_DH_BUILDDEB_ARGS)

binary-indep:

binary: binary-indep binary-arch

.PHONY: binary binary-arch binary-indep clean checkroot build
