Source: yakuake-kde3
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Ana Beatriz Guerrero Lopez <ana@debian.org>
Build-Depends: cdbs, debhelper (>= 5), quilt, kdelibs4-kde3-dev, automake1.11-kde3, autoconf2.63, libtool, libltdl-dev
Standards-Version: 3.8.3
Homepage: http://extragear.kde.org/apps/yakuake/

Package: yakuake-kde3
Architecture: any
Depends: ${shlibs:Depends}, konsole-kde3
Description: a Quake-style terminal emulator based on KDE Konsole technology [KDE3]
 YaKuake is inspired from the terminal in the Quake game: when you press a key 
 (by default F12, but that can be changed) a terminal window slides down from 
 the top of the screen. Press the key again, and the terminal slides back. 
 .
 It is faster than a keyboard shortcut because it is already loaded into memory 
 and as such is very useful to anyone who frequently finds themselves switching 
 in and out of terminal sessions.
