Source: kdeaddons-kde3
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Christopher Martin <chrsmrtn@debian.org>
Build-Depends: libasound2-dev, cdbs (>= 0.4.39-0.1), debhelper (>= 5.0.31), autotools-dev, gawk, gettext, kdelibs4-kde3-dev (>= 4:3.5.10), atlantik-kde3-dev (>= 4:3.5.10), kdebase-kde3-dev (>= 4:3.5.10), kdemultimedia-kde3-dev (>= 4:3.5.10), libkdegames-kde3-dev (>= 4:3.5.10), libkonq4-kde3-dev (>= 4:3.5.10), kdepim-kde3-dev (>= 4:3.5.10), libsdl1.2-dev (>= 1.2.2-3.3), libssl-dev (>= 0.9.6), libxine-dev, libdb4.8++-dev, libogg-dev-la, automake1.11-kde3, autoconf2.63, libtool, libltdl-dev
Standards-Version: 3.8.3

Package: kdeaddons-kde3
Architecture: all
Section: kde
Depends: atlantikdesigner-kde3 (>= ${Source-Version}), kaddressbook-plugins-kde3 (>= ${Source-Version}), kate-plugins-kde3 (>= ${Source-Version}), kdeaddons-kfile-plugins-kde3 (>= ${Source-Version}), kicker-applets-kde3 (>= ${Source-Version}), konq-plugins-kde3 (>= ${Source-Version}), ksig-kde3 (>= ${Source-Version}), noatun-plugins-kde3 (>= ${Source-Version})
Suggests: kdeaddons-kde3-doc-html
Description: add-on plugins and applets provided with KDE3
 KDE (the K Desktop Environment) is a powerful Open Source graphical
 desktop environment for Unix workstations. It combines ease of use,
 contemporary functionality, and outstanding graphical design with the
 technological superiority of the Unix operating system.
 .
 This metapackage includes a collection of add-on plugins and applets
 provided with the official release of KDE3.

Package: kdeaddons-kde3-doc-html
Architecture: all
Section: doc
Suggests: konqueror-kde3 | www-browser, kdeaddons-kde3
Description: KDE add-ons documentation in HTML format
 By default the modules provided by KDE only provide their documentation
 in KDE docbook format, which can only be read by Konqueror or KHelpCenter.
 This package provides all of the KDE addons documentation
 converted to HTML format so it can be read with any web browser.
 .
 The documentation will be installed into the usual directories
 /opt/kde3/share/doc/kde/HTML/<language>/<app>/, for instance
 /opt/kde3/share/doc/kde/HTML/en/kicker-applets/. Documentation is provided for
 most KDE addons packages.
 .
 This package is part of KDE3, as a component of the KDE addons module.
 See the 'kde-kde3' and 'kdeaddons-kde3' packages for more information.

Package: atlantikdesigner-kde3
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Enhances: atlantik-kde3
Description: game board designer for Atlantik
 Atlantik Designer is a game board designer for the game Atlantik.
 .
 Atlantik is a KDE client for playing Monopoly-like board games on the
 monopd network.  It can play any board supported by the network
 server, including the classic Monopoly game as well as the Atlantik
 game in which the properties include several major cities in North
 America and Europe.
 .
 This package is part of KDE3, as a component of the KDE addons module.
 See the 'kde-kde3' and 'kdeaddons-kde3' packages for more information.

Package: kaddressbook-plugins-kde3
Architecture: any
Section: kde
Depends: ${shlibs:Depends}
Suggests: kworldclock-kde3, khelpcenter-kde3, kdeaddons-kde3-doc-html
Enhances: kaddressbook-kde3
Description: plugins for KAddressBook, the KDE3 address book
 This package contains a variety of useful plugins for the KDE address
 book.  These plugins can be loaded through the KDE address book settings.
 .
 Highlights include exporting postal addresses as flags in KWorldClock,
 as well as importing and exporting contacts in the native format used
 by the German freemail provider GMX.
 .
 This package is part of KDE3, as a component of the KDE addons module.
 See the 'kde-kde3' and 'kdeaddons-kde3' packages for more information.

Package: kate-plugins-kde3
Architecture: any
Section: editors
Depends: ${shlibs:Depends}, tidy
Suggests: khelpcenter-kde3, kdeaddons-kde3-doc-html, kaddressbook-kde3
Enhances: kate-kde3
Description: plugins for Kate, the KDE Advanced Text Editor
 This package contains a variety of useful plugins for Kate, the KDE
 Advanced Text Editor.  These plugins can be loaded through the plugin
 manager in Kate settings.
 .
 Highlights include spell checking, text filtering, HTML/XML construction
 and validation, vim/emacs modeline handling, templates for new files
 and text snippets, opening of C/C++ headers, extraction of C/C++ symbols,
 a tab bar, a Python browser and even more.
 .
 This package is part of KDE3, as a component of the KDE addons module.
 See the 'kde-kde3' and 'kdeaddons-kde3' packages for more information.

Package: kdeaddons-kfile-plugins-kde3
Architecture: any
Section: kde
Depends: ${shlibs:Depends}
Provides: renamedlg-plugins-kde3
Description: KDE3 file dialog plugins for text files and folders
 This is a collection of plugins for the KDE file dialog.  These plugins
 extend the file dialog to offer advanced meta-information for text,
 HTML and desktop files, as well as for folders, Windows .lnk files,
 MIME archives and X.509 certificates.
 .
 This package also includes plugins for the KDE file rename dialog,
 allowing a user to more easily decide what to do when faced with a
 decision regarding conflicting filenames.  Rename dialog plugins are
 provided for audio and image files.
 .
 This package is part of KDE3, as a component of the KDE addons module.
 See the 'kde-kde3' and 'kdeaddons-kde3' packages for more information.

Package: kicker-applets-kde3
Architecture: any
Section: kde
Depends: ${shlibs:Depends}, kicker-kde3
Suggests: xmms-kde-kde3, khelpcenter-kde3, kdeaddons-kde3-doc-html
Provides: ktimemon-kde3
Enhances: kicker-kde3
Description: applets for Kicker, the KDE3 panel
 This package contains a variety of applets for Kicker, the KDE panel.
 These applets will appear in the panel's Add--Applet menu.
 .
 Included are a system monitor, a colour picker, a media player controller,
 a mathematical evaluator and a binary clock.
 .
 The media control applet does not support XMMS, as this would force all
 kicker-applets users to install XMMS. If you want a kicker applet that
 controls XMMS, install the xmms-kde-kde3 package.
 .
 This package is part of KDE3, as a component of the KDE addons module.
 See the 'kde-kde3' and 'kdeaddons-kde3' packages for more information.

Package: knewsticker-scripts-kde3
Architecture: all
Section: kde
Depends: ${perl:Depends}, python, libfinance-quote-perl, libmime-perl, libnews-nntpclient-perl, libwww-perl
Recommends: knewsticker-kde3
Enhances: knewsticker-kde3
Description: scripts for KNewsTicker, the KDE3 news ticker
 This package contains a variety of scripts that provide additional news
 sources for KNewsTicker, the news ticker applet for the KDE panel.  See
 /opt/kde3/share/doc/knewsticker-scripts/README.Debian for usage details.
 .
 Highlights include newsgroup handling, stock data retrieval, sports scores
 and various local news sources.
 .
 This package is part of KDE3, as a component of the KDE addons module.
 See the 'kde-kde3' and 'kdeaddons-kde3' packages for more information.

Package: konq-plugins-kde3
Architecture: any
Section: kde
Depends: ${shlibs:Depends}, libjpeg-progs, python, rsync, unison
Recommends: akregator-kde3, ark-kde3, imagemagick
Suggests: khelpcenter-kde3, kdeaddons-kde3-doc-html
Enhances: konqueror-kde3, akregator-kde3
Provides: akregator-konq-plugin-kde3
Description: plugins for Konqueror, the KDE3 file/web/doc browser
 This package contains a variety of useful plugins for Konqueror, the
 file manager, web browser and document viewer for KDE.  Many of these
 plugins will appear in Konqueror's Tools menu.
 .
 Highlights for web browsing include web page translation, web page archiving,
 auto-refreshing, HTML and CSS structural analysis, a search toolbar, a
 sidebar news ticker, fast access to common options, bookmarklets, a crash
 monitor, a microformat availability indicator, a del.icio.us bookmarks
 sidebar, and integration with the aKregator RSS feed reader.
 .
 Highlights for directory browsing include directory filters, image gallery
 creation, archive compression and extraction, quick copy/move, a sidebar
 media player, a file information metabar/sidebar, a media folder helper, a
 graphical disk usage viewer and image conversions and transformations.
 .
 This package is part of KDE3, as a component of the KDE addons module.
 See the 'kde-kde3' and 'kdeaddons-kde3' packages for more information.

Package: ksig-kde3
Architecture: any
Section: kde
Depends: ${shlibs:Depends}
Suggests: kmail-kde3
Enhances: kmail-kde3
Description: graphical tool for managing multiple email signatures
 KSig is a graphical tool for keeping track of many different email
 signatures.  The signatures themselves can be edited through KSig's
 graphical user interface.  A command-line interface is then available
 for generating random or daily signatures from this list.
 .
 The command-line interface makes a suitable plugin for generating
 signatures in external mail clients such as KMail.  See
 /opt/kde3/share/doc/ksig/README.Debian for details on how this can be done.
 .
 This package is part of KDE3, as a component of the KDE addons module.
 See the 'kde-kde3' and 'kdeaddons-kde3' packages for more information.

Package: noatun-plugins-kde3
Architecture: any
Section: sound
Depends: ${shlibs:Depends}
Enhances: noatun-kde3
Description: plugins for Noatun, the KDE3 media player
 This package contains a variety of useful plugins for Noatun, the audio and
 video media player for KDE.  These plugins can be loaded through the plugin
 manager in Noatun settings.
 .
 Highlights include an alarm clock, guessing tags from filenames, adjustable
 playback speed, capture to wave file and displaying lyrics, plus a variety
 of user interfaces, playlists and visualisation plugins.
 .
 This package is part of KDE3, as a component of the KDE addons module.
 See the 'kde-kde3' and 'kdeaddons-kde3' packages for more information.

Package: kdeaddons-kde3-dbg
Section: libdevel
Architecture: any
Depends: kdelibs-kde3-dbg
Priority: extra
Description: debugging symbols for kdeaddons-kde3
 This package contains the debugging symbols associated with kdeaddons-kde3.
 They will automatically be used by gdb for debugging kdeaddons-related
 issues.
