Source: adept-kde3
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Peter Rockai <me@mornfall.net>
Uploaders: Isaac Clerencia <isaac@debian.org>, Enrico Zini <enrico@debian.org>
Build-Depends: cdbs, debhelper (>> 4.1), dh-buildinfo, libapt-front-dev (>= 0.4.0-0.1ubuntu5), libapt-front-dev (<< 0.5), libtagcoll2-dev (>= 2.0.6), libtagcoll2-dev (<< 2.1), libwibble-dev (>= 0.1.10), libwibble-dev (<< 0.2), kdelibs4-kde3-dev (>= 3.5.0), sharutils, automake1.11-kde3, autoconf2.63, libtool, libltdl-dev
Standards-Version: 3.8.3

Package: adept-kde3
Section: kde
Depends: adept-manager-kde3, adept-installer-kde3, adept-updater-kde3, adept-notifier-kde3, adept-batch-kde3
Architecture: all
Description: package management suite for KDE3
 These packages belong to the adept suite:
  * adept-manager-kde3 - package manager
  * adept-installer-kde3 - application manager
  * adept-updater-kde3 - system upgrade wizard
  * adept-notifier-kde3 - systray notification of available updates

Package: adept-common-kde3
Section: kde
Depends: debtags (>= 1.6.1), konsole-kde3 (>= 3.5.0), ${shlibs:Depends}
Architecture: all
Description: package manager for KDE3 -- common files
 Icons and other common files for all adept components.

Package: adept-manager-kde3
Section: kde
Depends: adept-common-kde3, ${shlibs:Depends}
Recommends: libqt-perl
Architecture: any
Description: package manager for KDE3
 Adept Manager is a graphical user interface for package management.
 .
 Besides these basic functions the following features are provided:
  * Search and filter the list of available packages (also using debtags)
  * Perform smart system upgrades
  * Edit the list of used repositories (sources.list)
  * Configure packages through the debconf system
 .
 Please also install libqt-perl if you want the KDE Debconf frontend
 to function.

Package: adept-installer-kde3
Section: kde
Depends: adept-common-kde3, app-install-data, ${shlibs:Depends}
Recommends: libqt-perl
Architecture: any
Description: simple user interface for application management (for KDE3)
 Adept Installer presents a list of applications available through the
 Advanced Package Tool (APT). An application is considered a package
 that contains a .desktop file for use with KDE, GNOME or other
 desktop environment.
 .
 Please also install libqt-perl if you want the KDE Debconf frontend
 to function.

Package: adept-updater-kde3
Section: kde
Depends: adept-common-kde3, ${shlibs:Depends}
Recommends: libqt-perl
Architecture: any
Description: system update tool for KDE3
 Adept Updater provides a simple wizard-style user interface to system
 upgrades. It uses same algorithms as apt-get dist-upgrade.
 .
 Please also install libqt-perl if you want the KDE Debconf frontend
 to function.

Package: adept-notifier-kde3
Section: kde
Depends: ${shlibs:Depends}, adept-updater-kde3, update-notifier-common
Architecture: any
Description: system tray notifier of available system updates
 Adept Notifier provides a system tray icon notifying the user of
 available updates.  It will run Adept Updater for the user when
 clicked.

Package: adept-batch-kde3
Section: kde
Depends: ${shlibs:Depends}, adept-manager-kde3
Architecture: any
Description: command line install for Adept
 Adept Batch lets you install packages with Adept from the
 command line.  It is intended for shell scripts and being run
 by external applications.

