Source: krusader-kde3
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
Uploaders: Fathi Boudra <fabo@debian.org>, Mark Purcell <msp@debian.org>
Build-Depends: cdbs, debhelper (>= 5), libkonq4-kde3-dev, libkjsembed-kde3-dev, automake1.11-kde3, autoconf2.63, libtool, libltdl-dev
Standards-Version: 3.8.3
Homepage: http://krusader.sourceforge.net

Package: krusader-kde3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: md5deep | cfv, kedit-kde3, khexedit-kde3, konsole-kde3, kmail-kde3,
 krename-kde3, kdiff3-kde3 | kompare-kde3 | xxdiff, ark-kde3, arj, bzip2, cpio, lha,
 unrar | unrar-free | rar, rpm, unace, unzip, zip, p7zip, kdebase-kde3-bin,
 kdebase-kio-plugins-kde3
Description: twin-panel (commander-style) file manager for KDE (and other desktops)
 Krusader is a simple, easy, powerful, twin-panel (commander-style) file
 manager for KDE and other desktops, similar to Midnight Commander (C) or Total
 Commander (C).
 .
 It provides all the file management features you could possibly want.
 .
 Plus: extensive archive handling, mounted filesystem support, FTP,
 advanced search module, viewer/editor, directory synchronisation,
 file content comparisons, powerful batch renaming and much much more.
 .
 It supports archive formats: ace, arj, bzip2, deb, iso, lha, rar, rpm, tar,
 zip and 7-zip.
 .
 It handles KIOSlaves such as smb:// or fish://.
 .
 Almost completely customizable, Krusader is very user friendly, fast and looks
 great on your desktop.

Package: krusader-kde3-dbg
Section: devel
Architecture: any
Priority: extra
Depends: krusader-kde3 (= ${binary:Version})
Description: debugging symbols for krusader-kde3
 This package contains the debugging symbols associated with krusader-kde3.
 They will automatically be used by gdb for debugging krusader-related
 issues.
