#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include debian/cdbs/debian-qt-kde.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/rules/utils.mk

DEB_CONFIGURE_INCLUDEDIR := /opt/kde3/include/tde
DEB_CONFIGURE_MANDIR := /opt/kde3/share/man
DEB_CONFIGURE_PREFIX := /opt/kde3
DEB_CONFIGURE_INFODIR := /opt/kde3/share/info

cdbs_configure_flags := --with-qt-dir=/usr/share/qt3 --disable-rpath --with-xinerama $(cdbs_kde_enable_final) $(cdbs_kde_enable_debug)

DEB_DH_STRIP_ARGS := --dbg-package=kdesdk-kde3-dbg

DEB_CONFIGURE_EXTRA_FLAGS := --prefix=/opt/kde3 --with-extra-libs=/opt/kde3/lib

PACKAGES_WITH_LIBS := kbabel-kde3 kompare-kde3 kspy-kde3 tdeunittest-kde3 libcvsservice0-kde3 umbrello-kde3

DEB_DH_MAKESHLIBS_ARGS_kbabel-kde3			:= -V'kbabel-kde3 (>= 4:3.5.8-1)'
DEB_DH_MAKESHLIBS_ARGS_kompare-kde3			:= -V'kompare-kde3 (>= 4:3.5.8-1)'
DEB_DH_MAKESHLIBS_ARGS_kspy-kde3			:= -V'kspy-kde3 (>= 4:3.5.8-1)'
DEB_DH_MAKESHLIBS_ARGS_tdeunittest-kde3			:= -V'tdeunittest-kde3 (>= 4:3.5.8-1)'
DEB_DH_MAKESHLIBS_ARGS_libcvsservice0-kde3		:= -V'libcvsservice0-kde3 (>= 4:3.5.8-1)'
DEB_DH_MAKESHLIBS_ARGS_umbrello-kde3			:= -V'umbrello-kde3 (>= 4:3.5.8-1)'

#shlibs_ver = 4:3.5.0-1
#$(foreach p,$(PACKAGES_WITH_LIBS),$(eval DEB_DH_MAKESHLIBS_ARGS_$(p) := -V'$(p) (>= $(shlibs_ver))'))

DEB_INSTALL_CHANGELOGS_cervisia-kde3 := cervisia/ChangeLog
DEB_INSTALL_CHANGELOGS_kapptemplate-kde3 := kapptemplate/ChangeLog
DEB_INSTALL_CHANGELOGS_kbabel-kde3 := kbabel/ChangeLog
DEB_INSTALL_CHANGELOGS_tdecachegrind-kde3 := tdecachegrind/ChangeLog
DEB_INSTALL_CHANGELOGS_kompare-kde3 := kompare/ChangeLog
DEB_INSTALL_CHANGELOGS_umbrello-kde3 := umbrello/ChangeLog

binary-install/kdesdk-scripts-kde3::
	mv -f debian/kdesdk-scripts-kde3/usr/share/man/pl/man1/kdemangen.1 \
		debian/kdesdk-scripts-kde3/usr/share/man/man1/kdemangen.pl.1
	mv -f debian/kdesdk-scripts-kde3/usr/share/man/pl/man1/png2mng.1 \
		debian/kdesdk-scripts-kde3/usr/share/man/man1/png2mng.pl.1
	mv -f debian/kdesdk-scripts-kde3/usr/share/man/py/man1/kdelnk2desktop.1 \
		debian/kdesdk-scripts-kde3/usr/share/man/man1/kdelnk2desktop.py.1
	mv -f debian/kdesdk-scripts-kde3/usr/share/man/py/man1/zonetab2pot.1 \
		debian/kdesdk-scripts-kde3/usr/share/man/man1/zonetab2pot.py.1
	mv -f debian/kdesdk-scripts-kde3/usr/share/man/sh/man1/build-progress.1 \
		debian/kdesdk-scripts-kde3/usr/share/man/man1/build-progress.sh.1
	mv -f debian/kdesdk-scripts-kde3/opt/kde3/bin/svn-clean \
		debian/kdesdk-scripts-kde3/opt/kde3/bin/svn-clean-kde
	mv -f debian/kdesdk-scripts-kde3/opt/kde3/bin/svnversions \
		debian/kdesdk-scripts-kde3/opt/kde3/bin/svnversion-kde
	rm -rf debian/kdesdk-scripts-kde3/opt/share/man/pl
	rm -rf debian/kdesdk-scripts-kde3/opt/share/man/py
	rm -rf debian/kdesdk-scripts-kde3/opt/share/man/sh
	install -p -D -m644 scripts/kde-buildrc \
		debian/kdesdk-scripts-kde3/opt/kde3/share/doc/kdesdk-scripts-kde3/kde-buildrc.example

binary-install/kdesdk-misc-kde3::
	install -p -D -m644 kdeaccounts-plugin/README \
		debian/kdesdk-misc-kde3/opt/kde3/share/doc/kdesdk-misc/README.kdeaccounts-plugin
	install -p -D -m644 kioslave/svn/AUTHORS \
		debian/kdesdk-misc-kde3/opt/kde3/share/doc/kdesdk-misc/AUTHORS.kioslave-svn
	install -p -D -m644 kioslave/svn/README \
		debian/kdesdk-misc-kde3/opt/kde3/share/doc/kdesdk-misc/README.kioslave-svn
	install -p -D -m644 kprofilemethod/README \
		debian/kdesdk-misc-kde3/opt/kde3/share/doc/kdesdk-misc/README.kprofilemethod
	install -p -D -m644 scheck/README \
		debian/kdesdk-misc-kde3/opt/kde3/share/doc/kdesdk-misc/README.scheck

binary-install/kapptemplate-kde3::
	rm -f debian/kapptemplate-kde3/opt/kde3/share/apps/kapptemplate/admin/*.cdbs-orig
	for admindirfile in compile config.guess config.sub debianrules depcomp detect-autoconf.pl \
			Doxyfile.global install-sh missing mkinstalldirs nmcheck ylwrap; do \
		chmod 755 debian/kapptemplate-kde3/opt/kde3/share/apps/kapptemplate/admin/$$admindirfile; \
	done
