Source: desktop-effects-tde-trinity
Section: tde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
Build-Depends-Indep: cdbs (>= 0.4.43), debhelper (>= 5.0.38), python-support (>= 0.6) | python-dev (>= 2.6.6-3~)
Standards-Version: 3.8.4
XS-Python-Version: all

Package: desktop-effects-tde-trinity
Architecture: all
Depends: ${python:Depends}, python-qt4
Replaces: desktop-effects-kde-trinity (<< 4:14.0.0~)
Breaks: desktop-effects-kde-trinity (<< 4:14.0.0~)
XB-Python-Version: ${python:Versions}
Description: compiz setup tool for Trinity
 A simple Compiz configuration tool for Trinity.  Installs and sets Compiz
 as the window manager.
