Source: basket-kde3
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Sune Vuorela <debian@pusling.com>
Build-Depends: libasound2-dev, debhelper (>= 5), kdelibs4-kde3-dev (>= 4:3.5.6), kdepim-kde3-dev (>= 4:3.5.6), libgpgme11-dev, quilt (>= 0.40), automake1.11-kde3, autoconf2.63, libtool, libltdl-dev
Standards-Version: 3.8.3

Package: basket-kde3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a multi-purpose note-taking application for KDE [KDE3]
 This application provides as many baskets (drawers) as you wish; Several
 kinds of objects (texts, URLs, images,...) can be drag-n-drop'd into it. 
 .
 Objects can be edited, copied, dragged... So, they can be arranged
 according to users' taste. Moreover, Basket allows you to keep all objects 
 you want in one place, keep data on hand, take notes...
 .
  Homepage: http://basket.kde.org/
