Source: tdenetworkmanager-trinity
Section: tde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
Build-Depends: cdbs,
 debhelper (>= 7),
 pkg-config,
 tdelibs4-trinity-dev,
 libiw-dev,
 libnl-dev (>= 1.1),
 quilt,
 libtool, libltdl-dev, cmake
Standards-Version: 3.8.4
Homepage: http://www.trinitydesktop.org/

Package: network-manager-tde
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: kwalletmanager-trinity
Provides: tdenetworkmanager-trinity
Description: TDE systray applet for controlling networking [Trinity]
 Systray applet for controlling network connections managed by 
 a TDE network backend. It is mainly written for Trinity but also works for 
 other desktop environments like GNOME or Xfce.
