Source: tqscintilla
Section: libs
Priority: optional
Maintainer: Ricardo Javier Cardenes Medina <rcardenes@debian.org>
Uploaders: Torsten Marek <shlomme@debian.org>
Build-Depends: debhelper (>> 5.0.0), libtqt3-mt-dev, tqt3-dev-tools
Standards-Version: 3.7.2

Package: libtqscintilla7
Section: libs
Architecture: any
Replaces: libtqscintilla6
Depends: ${shlibs:Depends}
Description: TQt source code editing component based on Scintilla
 Scintilla is a free source code editing component. It has features found
 in standard editing components, as well as features especially useful
 when editing and debugging source code.
 .
 TQScintilla is a port or Scintilla to the TQt GUI toolkit.

Package: libtqscintilla-dev
Section: libdevel
Architecture: all
Depends: libtqscintilla7 (>= ${source:Version})
Description: TQt source code editing component - development files
 Scintilla is a free source code editing component. It has features found
 in standard editing components, as well as features especially useful
 when editing and debugging source code.
 .
 TQScintilla is a port of Scintilla to the TQt GUI toolkit. These are the
 development files (headers and static libs).

Package: libtqscintilla-doc
Section: doc
Architecture: all
Suggests: libtqscintilla-dev
Description: TQt source code editing component - documentation
 Scintilla is a free source code editing component. It has features found
 in standard editing components, as well as features especially useful
 when editing and debugging source code.
 .
 This package contain HTML files describing TQScintilla classes.
