Source: libksquirrel-trinity
Section: libs
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Harald Sitter <apachelogger@ubuntu.com>
Build-Depends: debhelper (>= 5), cdbs, pkg-config, libmng-dev,librsvg2-bin,
 medcon, libjasper-dev, libungif4-dev, libwmf-dev, libopenexr-dev,
 djvulibre-bin, transfig, x11proto-core-dev, netpbm, libtiff4-dev,
 libkonq4-trinity-dev, kipi-plugins-trinity, libkipi0-trinity-dev, dpatch, build-essential,
 automake, autoconf, libtool, libltdl-dev
Standards-Version: 3.8.4
Homagepage: http://ksquirrel.sourceforge.net

Package: libksquirrel0-trinity
Architecture: any
Depends: ${shlibs:Depends}
Description: KDE3 image viewer
 Runtime libraries for KSquirrel.

Package: libksquirrel-trinity-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, libksquirrel0-trinity (= ${binary:Version})
Description: KDE3 image viewer
 Development libraries for KSquirrel.

Package: libksquirrel-tools-trinity
Architecture: any
Depends: ${shlibs:Depends}, libksquirrel0-trinity (= ${binary:Version})
Description: KDE3 image viewer
 Tools for KSquirrel.
