Source: katapult-kde3
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
Build-Depends: cdbs (>= 0.4.46ubuntu5), debhelper (>= 5.0.0), kdelibs4-kde3-dev (>= 3.3), docbook2x, libxi-dev, sharutils, automake1.11-kde3, autoconf2.63, libtool, libltdl-dev
Standards-Version: 3.8.3

Package: katapult-kde3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: item launcher for KDE [KDE3]
 Katapult is an application, which analyses text-based queries
 to launch items, such as bookmarks, directories or programs.
 .
 The application is currently in an early stage of development but 
 the launchable item list can be extended by a plugin system, and
 the look and feel can be skinned.
 .
 Homepage:  http://katapult.kde.org/
