Source: kde-style-lipstik-trinity
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
Build-Depends: debhelper (>= 4.0.0), kdelibs4-trinity-dev (>= 4:3.2), dpatch, automake, autoconf, libtool, libltdl-dev
Standards-Version: 3.8.4

Package: kde-style-lipstik-trinity
Section: kde
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lipstik style for TDE
 Based on the plastik style, Lipstik is a purified style with many options to
 tune your desktop look.
 .
 Lipstik also provides Lipstik-color-schemes

