
module tdm.el6 1.0;

require {
	type fprintd_t;
	type initrc_t;
	class dbus send_msg;
}

#============= fprintd_t ==============
allow fprintd_t initrc_t:dbus send_msg;
