Source: kmymoney2-trinity
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Mark Purcell <msp@debian.org>, Fathi Boudra <fabo@debian.org>
Build-Depends: debhelper (>= 7.0.50~), cdbs, chrpath, automake, libtool, kdelibs4-trinity-dev, libofx-dev, libsqlite3-dev
Standards-Version: 3.8.4

Package: kmymoney2-trinity
Architecture: any
Depends: ${shlibs:Depends}, ${shlibs:Misc}, ${misc:Depends},
 kmymoney2-common-trinity (>= ${source:Version})
Recommends: kmymoney2-plugin-aqbanking-trinity
Description: personal finance manager for TDE
 KMyMoney is the Personal Finance Manager for TDE. It operates similar to
 MS-Money and Quicken, supports different account types, categorisation of
 expenses, QIF import/export, multiple currencies and initial online banking
 support.

Package: kmymoney2-common-trinity
Architecture: all
Depends: ${misc:Depends}
Recommends: kmymoney2-trinity (>= ${source:Version})
Description: KMyMoney architecture independent files
 This package contains architecture independent files needed for KMyMoney to
 run properly. It also provides KMyMoney documentation. Therefore, unless you
 have 'kmymoney2' package installed, you will hardly find this package useful.

Package: kmymoney2-trinity-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, kmymoney2-trinity (= ${binary:Version})
Description: KMyMoney development files
 This package contains development files needed for KMyMoney plugins.
