Source: synaptic-trinity
Section: misc
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
Build-Depends: debhelper (>=5.0), cdbs
Standards-Version: 3.8.4

Package: synaptic-trinity
Priority: important
Architecture: all
Depends: synaptic
Description: Synaptic for the Trinity Desktop Environment
 This package allows Synaptic to be launched without manually typing
 a gain-root command such as tdesu each time; instead tdesu will be
 automatically used to launch synaptic if this package is installed.
