Source: ksquirrel-trinity
Section: graphics
Priority: extra
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Paul Gevers <paul@climbing.nl>
Build-Depends: debhelper (>= 5),
               quilt,
               libksquirrel-trinity-dev,
               libkonq4-trinity-dev,
               kipi-plugins-trinity,
               libkipi0-trinity-dev,
               build-essential,
               automake, autoconf, libtool, libltdl-dev
Standards-Version: 3.8.4

Package: ksquirrel-trinity
Architecture: any
Depends: libksquirrel0-trinity, ${shlibs:Depends}, ${misc:Depends}
Replaces: ksquirrel-kde3 (<< 4:14.0.0), ksquirrel-trinity (<< 4:14.0.0)
Breaks: ksquirrel-kde3 (<< 4:14.0.0), ksquirrel-trinity (<< 4:14.0.0)
Description: Powerful Trinity image viewer
 KSquirrel is an image viewer for KDE with disk navigator, file tree,
 multiple directory view, thumbnails, extended thumbnails, dynamic
 format support, DCOP interface, KEXIF and KIPI plugins support.
 .
 KSquirrel is a fast and convenient image viewer for KDE featuring
 OpenGL and dynamic format support.
