#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
#DEB_INSTALL_MANPAGES_kstreamripper-trinity:=debian/kstreamripper.1

PATH := /opt/trinity/bin:$(PATH)

build/kstreamripper-trinity::
	env PATH=/opt/trinity/bin:$(PATH) QTDIR=/usr/share/qt3 $(MAKE)

install/kstreamripper-trinity::
	env PATH=/opt/trinity/bin:$(PATH) QTDIR=/usr/share/qt3 DESTDIR=$(DEB_DESTDIR) $(MAKE) install
	mkdir -p $(DEB_DESTDIR)/opt/trinity/share/pixmaps/
	mkdir -p $(DEB_DESTDIR)/opt/trinity/share/doc/HTML/
	install -m 644 ./src/hi32-app-kstreamripper.png \
		$(DEB_DESTDIR)/opt/trinity/share/pixmaps/kstreamripper.png
	rm -rf $(DEB_DESTDIR)/opt/trinity/share/doc/HTML
	rm -rf $(DEB_DESTDIR)/usr

clean::
	-$(MAKE) clean	
	rm -f scons_signatures.dblite
	rm -f *.pyc admin/*.pyc
	rm -rf cache/
