#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
DEB_INSTALL_MANPAGES_kstreamripper:=debian/kstreamripper.1

PATH := /opt/trinity/bin:$(PATH)

build/kstreamripper::	
	env PATH=/opt/trinity/bin:$(PATH) QTDIR=/usr/share/tqt3 CMAKE_LIBRARY_PATH=/opt/trinity/lib CMAKE_INCLUDE_PATH=/opt/trinity/include/tde DESTDIR=$(DEB_DESTDIR)/opt/trinity $(MAKE)

install/kstreamripper::
	env PATH=/opt/trinity/bin:$(PATH) QTDIR=/usr/share/tqt3 CMAKE_LIBRARY_PATH=/opt/trinity/lib CMAKE_INCLUDE_PATH=/opt/trinity/include/tde $(MAKE) install
	mkdir -p $(DEB_DESTDIR)/opt/trinity/share/pixmaps/
	mkdir -p $(DEB_DESTDIR)/opt/trinity/share/doc/tde/HTML/
	install -m 644 ./src/hi32-app-kstreamripper.png \
		$(DEB_DESTDIR)/opt/trinity/share/pixmaps/kstreamripper.png
	rm -rf $(DEB_DESTDIR)/opt/trinity/share/doc/tde/HTML
	rm -rf $(DEB_DESTDIR)/usr

clean::
	-$(MAKE) clean	
	rm -f scons_signatures.dblite
	rm -f *.pyc admin/*.pyc
	rm -rf cache/
