Source: filelight-kde3
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Raúl Sánchez Siles <rasasi78@gmail.com>
Standards-Version: 3.8.3
Build-Depends: debhelper (>= 5.0), cdbs, kdelibs4-kde3-dev, xutils, chrpath, gettext, quilt (>= 0.40), automake1.11-kde3, autoconf2.63, libtool, libltdl-dev
Homepage: http://www.methylblue.com/filelight/

Package: filelight-kde3
Architecture: any
Depends: ${shlibs:Depends}
Description: show where your diskspace is being used [KDE3]
 Filelight allows you to understand your disk usage by graphically
 representing your filesystem as a set of concentric, segmented rings.
 .
 It is like a pie-chart, but the segments nest, allowing you to see both
 which directories take up all your space, and which directories
 and files inside those directories are the real culprits.
