[Desktop Entry]
Comment=Bzip2-ed Tar Archive
Hidden=false
Patterns=*.tar.bz;*.tbz;*.tar.bz2;*.tbz2
X-TDE-AutoEmbed=true

[Property::X-TDE-LocalProtocol]
Type=
Value=