Source: filelight-l10n-trinity
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
Uploaders: Ral Snchez Siles <rasasi78@gmail.com>
Build-Depends: tdelibs4-trinity-dev (>= 4:3.4.3), cdbs (>= 0.4.39-0.1), debhelper (>= 5.0.31), automake, autoconf, libtool, libltdl-dev
Standards-Version: 3.8.4
Homepage: http://www.methylblue.com/filelight/

Package: filelight-l10n-trinity
Architecture: any
Depends: ${shlibs:Depends} , filelight-trinity (>= ${source:Version})
Replaces: filelight-l10n-kde3 (<< 4:3.5.13)
Breaks: filelight-l10n-kde3 (<< 4:3.5.13)
Description: Localization (l10n) for Filelight, disk space usage tool [Trinity]
 This package provides localization(l10n) files (translations and docs) for
 Filelight, Filelight allows you to understand your disk usage by graphically
 representing your filesystem as a set of concentric, segmented rings.
 .
 See the 'filelight' package description for more information.

