Source: knetload-kde3
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Helen Faulkner <helen@debian.org>
Build-Depends: debhelper (>> 4.0.0), kdelibs4-kde3-dev (>= 4:3.4.2), automake1.11-kde3, autoconf2.63, libtool, libltdl-dev
Standards-Version: 3.8.3

Package: knetload-kde3
Architecture: any
Section: kde
Depends: ${shlibs:Depends}
Conflicts: knetload
Suggests: kcpuload-kde3
Description: a network meter for Kicker [KDE3]
 KNetLoad is a small network meter for Kicker (the KDE panel).  It shows
 a recent history of network usage in the form of two configurable
 diagrams in the system tray, one for incoming and one for outgoing
 data.  These diagrams have settings for colours and various different
 styles.
 .
 KNetLoad can monitor just about any network device.
