#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include debian/cdbs/debian-qt-kde.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/rules/utils.mk

DEB_CONFIGURE_INCLUDEDIR := /opt/kde3/include/tde
DEB_CONFIGURE_MANDIR := /opt/kde3/share/man
DEB_CONFIGURE_PREFIX := /opt/kde3
DEB_CONFIGURE_INFODIR := /opt/kde3/share/info

cdbs_configure_flags := --with-qt-dir=/usr/share/qt3 --disable-rpath --with-xinerama $(cdbs_kde_enable_final) $(cdbs_kde_enable_debug)

DEB_KDE_APIDOX := yes

CXXFLAGS := -DSMB_CTX_FLAG_USE_KERBEROS -DSMB_CTX_FLAG_FALLBACK_AFTER_KERBEROS -g -Wall $(DEB_OPT_FLAG)

DEB_CONFIGURE_EXTRA_FLAGS := --with-shadow --without-java --with-pam=kde-kde3 --prefix=/opt/kde3 \
	--with-kcp-pam=kcheckpass-kde3 --with-tdm-pam=tdm-kde3 --with-kss-pam=tdescreensaver-kde3 --with-extra-libs=/opt/kde3/lib \
	--with-extra-includes=/usr/include/sasl --with-usbids=/usr/share/misc/usb.ids --with-sudo-kdesu-backend \
	--enable-closure

DEB_FIXPERMS_EXCLUDE := usr/bin/kdesud

DEB_DH_STRIP_ARGS  := --dbg-package=kdebase-kde3-dbg

DOC_HTML_PRUNE := kinfocenter ksplashml kcontrol khelpcenter kdesu knetattach kioslave kxkb kdebugdialog kdcop

PACKAGES_WITH_LIBS := kate-kde3 kcontrol-kde3 kdebase-kde3-bin kicker-kde3 konqueror-kde3 ksplash-kde3 \
			ksysguard-kde3 kwin-kde3 libkonq4-kde3

DEB_DH_MAKESHLIBS_ARGS_kate-kde3		:= -V'kate-kde3 (>= 4:3.5.8-1)'
DEB_DH_MAKESHLIBS_ARGS_kcontrol-kde3		:= -V'kcontrol-kde3 (>= 4:3.5.8-1)'
DEB_DH_MAKESHLIBS_ARGS_kdebase-kde3-bin		:= -V'kdebase-kde3-bin (>= 4:3.5.8-1)'
DEB_DH_MAKESHLIBS_ARGS_kicker-kde3		:= -V'kicker-kde3 (>= 4:3.5.8-1)'
DEB_DH_MAKESHLIBS_ARGS_konqueror-kde3		:= -V'konqueror-kde3 (>= 4:3.5.8-1)'
DEB_DH_MAKESHLIBS_ARGS_ksplash-kde3		:= -V'ksplash-kde3 (>= 4:3.5.8-1)'
DEB_DH_MAKESHLIBS_ARGS_ksysguard-kde3		:= -V'ksysguard-kde3 (>= 4:3.5.8-1)'
DEB_DH_MAKESHLIBS_ARGS_kwin-kde3		:= -V'kwin-kde3 (>= 4:3.5.8-1)'
DEB_DH_MAKESHLIBS_ARGS_libkonq4-kde3		:= -V'libkonq4-kde3 (>= 4:3.5.8-1)'

#shlibs_ver = 4:3.5.0-1
#$(foreach p,$(PACKAGES_WITH_LIBS),$(eval DEB_DH_MAKESHLIBS_ARGS_$(p) := -V'$(p) (>= $(shlibs_ver))'))

makebuilddir::
	touch kcontrol/energy/pics/energybig.png
	touch kcontrol/energy/pics/lo-energy.png
	uudecode -o kcontrol/pics/cr128-app-energy_star.png debian/img/cr128-app-energy_star.png.uu
	uudecode -o kcontrol/pics/cr16-app-energy_star.png debian/img/cr16-app-energy_star.png.uu
	uudecode -o kcontrol/pics/cr32-app-energy_star.png debian/img/cr32-app-energy_star.png.uu
	uudecode -o kcontrol/pics/cr48-app-energy_star.png debian/img/cr48-app-energy_star.png.uu
	uudecode -o kcontrol/pics/cr64-app-energy_star.png debian/img/cr64-app-energy_star.png.uu
	# KIO Media LUKS icons
	uudecode -o pics/crystalsvg/cr128-device-compact_flash_mount_decrypt.png debian/img/medialuks/cr128-device-compact_flash_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr128-device-compact_flash_unmount_decrypt.png debian/img/medialuks/cr128-device-compact_flash_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr128-device-compact_flash_unmount_encrypt.png debian/img/medialuks/cr128-device-compact_flash_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr128-device-hdd_mount_decrypt.png debian/img/medialuks/cr128-device-hdd_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr128-device-hdd_unmount_decrypt.png debian/img/medialuks/cr128-device-hdd_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr128-device-hdd_unmount_encrypt.png debian/img/medialuks/cr128-device-hdd_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr128-device-memory_stick_mount_decrypt.png debian/img/medialuks/cr128-device-memory_stick_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr128-device-memory_stick_unmount_decrypt.png debian/img/medialuks/cr128-device-memory_stick_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr128-device-memory_stick_unmount_encrypt.png debian/img/medialuks/cr128-device-memory_stick_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr128-device-sd_mmc_mount_decrypt.png debian/img/medialuks/cr128-device-sd_mmc_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr128-device-sd_mmc_unmount_decrypt.png debian/img/medialuks/cr128-device-sd_mmc_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr128-device-sd_mmc_unmount_encrypt.png debian/img/medialuks/cr128-device-sd_mmc_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr128-device-smart_media_mount_decrypt.png debian/img/medialuks/cr128-device-smart_media_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr128-device-smart_media_unmount_decrypt.png debian/img/medialuks/cr128-device-smart_media_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr128-device-smart_media_unmount_encrypt.png debian/img/medialuks/cr128-device-smart_media_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr128-device-usbpendrive_mount_decrypt.png debian/img/medialuks/cr128-device-usbpendrive_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr128-device-usbpendrive_unmount_decrypt.png debian/img/medialuks/cr128-device-usbpendrive_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr128-device-usbpendrive_unmount_encrypt.png debian/img/medialuks/cr128-device-usbpendrive_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-cdrom_mount_decrypt.png debian/img/medialuks/cr16-device-cdrom_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-cdrom_unmount_decrypt.png debian/img/medialuks/cr16-device-cdrom_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-cdrom_unmount_encrypt.png debian/img/medialuks/cr16-device-cdrom_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-cdwriter_mount_decrypt.png debian/img/medialuks/cr16-device-cdwriter_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-cdwriter_unmount_decrypt.png debian/img/medialuks/cr16-device-cdwriter_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-cdwriter_unmount_encrypt.png debian/img/medialuks/cr16-device-cdwriter_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-compact_flash_mount_decrypt.png debian/img/medialuks/cr16-device-compact_flash_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-compact_flash_unmount_decrypt.png debian/img/medialuks/cr16-device-compact_flash_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-compact_flash_unmount_encrypt.png debian/img/medialuks/cr16-device-compact_flash_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-dvd_mount_decrypt.png debian/img/medialuks/cr16-device-dvd_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-dvd_unmount_decrypt.png debian/img/medialuks/cr16-device-dvd_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-dvd_unmount_encrypt.png debian/img/medialuks/cr16-device-dvd_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-hdd_mount_decrypt.png debian/img/medialuks/cr16-device-hdd_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-hdd_unmount_decrypt.png debian/img/medialuks/cr16-device-hdd_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-hdd_unmount_encrypt.png debian/img/medialuks/cr16-device-hdd_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-memory_stick_mount_decrypt.png debian/img/medialuks/cr16-device-memory_stick_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-memory_stick_unmount_decrypt.png debian/img/medialuks/cr16-device-memory_stick_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-memory_stick_unmount_encrypt.png debian/img/medialuks/cr16-device-memory_stick_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-sd_mmc_mount_decrypt.png debian/img/medialuks/cr16-device-sd_mmc_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-sd_mmc_unmount_decrypt.png debian/img/medialuks/cr16-device-sd_mmc_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-sd_mmc_unmount_encrypt.png debian/img/medialuks/cr16-device-sd_mmc_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-smart_media_mount_decrypt.png debian/img/medialuks/cr16-device-smart_media_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-smart_media_unmount_decrypt.png debian/img/medialuks/cr16-device-smart_media_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-smart_media_unmount_encrypt.png debian/img/medialuks/cr16-device-smart_media_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-usbpendrive_mount_decrypt.png debian/img/medialuks/cr16-device-usbpendrive_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-usbpendrive_unmount_decrypt.png debian/img/medialuks/cr16-device-usbpendrive_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr16-device-usbpendrive_unmount_encrypt.png debian/img/medialuks/cr16-device-usbpendrive_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr22-device-compact_flash_mount_decrypt.png debian/img/medialuks/cr22-device-compact_flash_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr22-device-compact_flash_unmount_decrypt.png debian/img/medialuks/cr22-device-compact_flash_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr22-device-compact_flash_unmount_encrypt.png debian/img/medialuks/cr22-device-compact_flash_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr22-device-hdd_mount_decrypt.png debian/img/medialuks/cr22-device-hdd_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr22-device-hdd_unmount_decrypt.png debian/img/medialuks/cr22-device-hdd_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr22-device-hdd_unmount_encrypt.png debian/img/medialuks/cr22-device-hdd_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr22-device-memory_stick_mount_decrypt.png debian/img/medialuks/cr22-device-memory_stick_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr22-device-memory_stick_unmount_decrypt.png debian/img/medialuks/cr22-device-memory_stick_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr22-device-memory_stick_unmount_encrypt.png debian/img/medialuks/cr22-device-memory_stick_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr22-device-sd_mmc_mount_decrypt.png debian/img/medialuks/cr22-device-sd_mmc_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr22-device-sd_mmc_unmount_decrypt.png debian/img/medialuks/cr22-device-sd_mmc_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr22-device-sd_mmc_unmount_encrypt.png debian/img/medialuks/cr22-device-sd_mmc_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr22-device-smart_media_mount_decrypt.png debian/img/medialuks/cr22-device-smart_media_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr22-device-smart_media_unmount_decrypt.png debian/img/medialuks/cr22-device-smart_media_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr22-device-smart_media_unmount_encrypt.png debian/img/medialuks/cr22-device-smart_media_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr22-device-usbpendrive_mount_decrypt.png debian/img/medialuks/cr22-device-usbpendrive_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr22-device-usbpendrive_unmount_decrypt.png debian/img/medialuks/cr22-device-usbpendrive_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr22-device-usbpendrive_unmount_encrypt.png debian/img/medialuks/cr22-device-usbpendrive_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-cdrom_mount_decrypt.png debian/img/medialuks/cr32-device-cdrom_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-cdrom_unmount_decrypt.png debian/img/medialuks/cr32-device-cdrom_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-cdrom_unmount_encrypt.png debian/img/medialuks/cr32-device-cdrom_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-cdwriter_mount_decrypt.png debian/img/medialuks/cr32-device-cdwriter_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-cdwriter_unmount_decrypt.png debian/img/medialuks/cr32-device-cdwriter_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-cdwriter_unmount_encrypt.png debian/img/medialuks/cr32-device-cdwriter_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-compact_flash_mount_decrypt.png debian/img/medialuks/cr32-device-compact_flash_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-compact_flash_unmount_decrypt.png debian/img/medialuks/cr32-device-compact_flash_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-compact_flash_unmount_encrypt.png debian/img/medialuks/cr32-device-compact_flash_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-dvd_mount_decrypt.png debian/img/medialuks/cr32-device-dvd_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-dvd_unmount_decrypt.png debian/img/medialuks/cr32-device-dvd_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-dvd_unmount_encrypt.png debian/img/medialuks/cr32-device-dvd_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-hdd_mount_decrypt.png debian/img/medialuks/cr32-device-hdd_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-hdd_unmount_decrypt.png debian/img/medialuks/cr32-device-hdd_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-hdd_unmount_encrypt.png debian/img/medialuks/cr32-device-hdd_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-memory_stick_mount_decrypt.png debian/img/medialuks/cr32-device-memory_stick_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-memory_stick_unmount_decrypt.png debian/img/medialuks/cr32-device-memory_stick_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-memory_stick_unmount_encrypt.png debian/img/medialuks/cr32-device-memory_stick_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-sd_mmc_mount_decrypt.png debian/img/medialuks/cr32-device-sd_mmc_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-sd_mmc_unmount_decrypt.png debian/img/medialuks/cr32-device-sd_mmc_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-sd_mmc_unmount_encrypt.png debian/img/medialuks/cr32-device-sd_mmc_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-smart_media_mount_decrypt.png debian/img/medialuks/cr32-device-smart_media_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-smart_media_unmount_decrypt.png debian/img/medialuks/cr32-device-smart_media_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-smart_media_unmount_encrypt.png debian/img/medialuks/cr32-device-smart_media_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-usbpendrive_mount_decrypt.png debian/img/medialuks/cr32-device-usbpendrive_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-usbpendrive_unmount_decrypt.png debian/img/medialuks/cr32-device-usbpendrive_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr32-device-usbpendrive_unmount_encrypt.png debian/img/medialuks/cr32-device-usbpendrive_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-cdrom_mount_decrypt.png debian/img/medialuks/cr48-device-cdrom_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-cdrom_unmount_decrypt.png debian/img/medialuks/cr48-device-cdrom_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-cdrom_unmount_encrypt.png debian/img/medialuks/cr48-device-cdrom_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-cdwriter_mount_decrypt.png debian/img/medialuks/cr48-device-cdwriter_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-cdwriter_unmount_decrypt.png debian/img/medialuks/cr48-device-cdwriter_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-cdwriter_unmount_encrypt.png debian/img/medialuks/cr48-device-cdwriter_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-compact_flash_mount_decrypt.png debian/img/medialuks/cr48-device-compact_flash_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-compact_flash_unmount_decrypt.png debian/img/medialuks/cr48-device-compact_flash_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-compact_flash_unmount_encrypt.png debian/img/medialuks/cr48-device-compact_flash_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-dvd_mount_decrypt.png debian/img/medialuks/cr48-device-dvd_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-dvd_unmount_decrypt.png debian/img/medialuks/cr48-device-dvd_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-dvd_unmount_encrypt.png debian/img/medialuks/cr48-device-dvd_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-hdd_mount_decrypt.png debian/img/medialuks/cr48-device-hdd_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-hdd_unmount_decrypt.png debian/img/medialuks/cr48-device-hdd_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-hdd_unmount_encrypt.png debian/img/medialuks/cr48-device-hdd_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-memory_stick_mount_decrypt.png debian/img/medialuks/cr48-device-memory_stick_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-memory_stick_unmount_decrypt.png debian/img/medialuks/cr48-device-memory_stick_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-memory_stick_unmount_encrypt.png debian/img/medialuks/cr48-device-memory_stick_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-sd_mmc_mount_decrypt.png debian/img/medialuks/cr48-device-sd_mmc_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-sd_mmc_unmount_decrypt.png debian/img/medialuks/cr48-device-sd_mmc_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-sd_mmc_unmount_encrypt.png debian/img/medialuks/cr48-device-sd_mmc_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-smart_media_mount_decrypt.png debian/img/medialuks/cr48-device-smart_media_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-smart_media_unmount_decrypt.png debian/img/medialuks/cr48-device-smart_media_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-smart_media_unmount_encrypt.png debian/img/medialuks/cr48-device-smart_media_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-usbpendrive_mount_decrypt.png debian/img/medialuks/cr48-device-usbpendrive_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-usbpendrive_unmount_decrypt.png debian/img/medialuks/cr48-device-usbpendrive_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr48-device-usbpendrive_unmount_encrypt.png debian/img/medialuks/cr48-device-usbpendrive_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-cdrom_mount_decrypt.png debian/img/medialuks/cr64-device-cdrom_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-cdrom_unmount_decrypt.png debian/img/medialuks/cr64-device-cdrom_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-cdrom_unmount_encrypt.png debian/img/medialuks/cr64-device-cdrom_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-cdwriter_mount_decrypt.png debian/img/medialuks/cr64-device-cdwriter_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-cdwriter_unmount_decrypt.png debian/img/medialuks/cr64-device-cdwriter_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-cdwriter_unmount_encrypt.png debian/img/medialuks/cr64-device-cdwriter_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-compact_flash_mount_decrypt.png debian/img/medialuks/cr64-device-compact_flash_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-compact_flash_unmount_decrypt.png debian/img/medialuks/cr64-device-compact_flash_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-compact_flash_unmount_encrypt.png debian/img/medialuks/cr64-device-compact_flash_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-dvd_mount_decrypt.png debian/img/medialuks/cr64-device-dvd_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-dvd_unmount_decrypt.png debian/img/medialuks/cr64-device-dvd_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-dvd_unmount_encrypt.png debian/img/medialuks/cr64-device-dvd_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-hdd_mount_decrypt.png debian/img/medialuks/cr64-device-hdd_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-hdd_unmount_decrypt.png debian/img/medialuks/cr64-device-hdd_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-hdd_unmount_encrypt.png debian/img/medialuks/cr64-device-hdd_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-memory_stick_mount_decrypt.png debian/img/medialuks/cr64-device-memory_stick_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-memory_stick_unmount_decrypt.png debian/img/medialuks/cr64-device-memory_stick_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-memory_stick_unmount_encrypt.png debian/img/medialuks/cr64-device-memory_stick_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-sd_mmc_mount_decrypt.png debian/img/medialuks/cr64-device-sd_mmc_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-sd_mmc_unmount_decrypt.png debian/img/medialuks/cr64-device-sd_mmc_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-sd_mmc_unmount_encrypt.png debian/img/medialuks/cr64-device-sd_mmc_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-smart_media_mount_decrypt.png debian/img/medialuks/cr64-device-smart_media_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-smart_media_unmount_decrypt.png debian/img/medialuks/cr64-device-smart_media_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-smart_media_unmount_encrypt.png debian/img/medialuks/cr64-device-smart_media_unmount_encrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-usbpendrive_mount_decrypt.png debian/img/medialuks/cr64-device-usbpendrive_mount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-usbpendrive_unmount_decrypt.png debian/img/medialuks/cr64-device-usbpendrive_unmount_decrypt.png.uu
	uudecode -o pics/crystalsvg/cr64-device-usbpendrive_unmount_encrypt.png debian/img/medialuks/cr64-device-usbpendrive_unmount_encrypt.png.uu
	# END KIO Media LUKS icons

common-install-prehook-arch::
	grep -v -e joystick -e view1394  debian/kcontrol-kde3.install > debian/kcontrol-kde3.install.kfreebsd-i386
	grep -v -e joystick -e view1394  debian/kcontrol-kde3.install > debian/kcontrol-kde3.install.kfreebsd-amd64
	grep -v -e media_propsdlgplugin  debian/kdebase-kio-plugins-kde3.install > debian/kdebase-kio-plugins-kde3.install.kfreebsd-i386
	grep -v -e media_propsdlgplugin  debian/kdebase-kio-plugins-kde3.install > debian/kdebase-kio-plugins-kde3.install.kfreebsd-amd64

clean::
	rm -f debian/kcontrol-kde3.install.kfreebsd* debian/kdebase-kio-plugins-kde3.install.kfreebs*
	rm -f kcontrol/pics/cr*-app-energy_star.png kcontrol/energy/pics/energybig.png kcontrol/energy/pics/lo-energy.png
	# KIO Media LUKS Icons
	rm -f pics/crystalsvg/cr*decrypt.png pics/crystalsvg/cr*encrypt.png

binary-install/kate-kde3::
	cp -Rp debian/kate-kde3/usr/* debian/kate-kde3/opt/kde3/
	rm -rf debian/kate-kde3/usr

binary-install/kdebase-data-kde3::
	# hack the oui.db install, as under kfreebsd it does not get installed and then breaks at dh_install time
	# it's in fact a linux specific file...
	install -p -D -m644 kcontrol/view1394/oui.db debian/kdebase-data-kde3/opt/kde3/share/apps/kcmview1394/oui.db
	install -p -D -m644 debian/tmp/etc/xdg/menus/applications-merged/kde-essential.menu debian/kdebase-data-kde3/opt/kde3/etc/xdg/menus/applications-merged/kde-essential.menu
	install -p -D -m644 debian/tmp/etc/xdg/menus/kde-information.menu debian/kdebase-data-kde3/opt/kde3/etc/xdg/menus/kde-information.menu
	install -p -D -m644 debian/tmp/etc/xdg/menus/kde-screensavers.menu debian/kdebase-data-kde3/opt/kde3/etc/xdg/menus/kde-screensavers.menu
	install -p -D -m644 debian/tmp/etc/xdg/menus/kde-settings.menu debian/kdebase-data-kde3/opt/kde3/etc/xdg/menus/kde-settings.menu
	rm -rf debian/tmp/etc/xdg/*
	rm -rf debian/kdebase-data-kde3/etc/xdg/*

install/tdm-kde3::
	sed -i 's/#UseTheme=true/UseTheme=true/g' debian/tmp/etc/kde3/tdm/tdmrc
	sed -i 's/Theme=@@@ToBeReplacedByDesktopBase@@@/Theme=\/opt\/kde3\/share\/apps\/tdm\/themes\/kubuntu-kde3/g' debian/tmp/etc/kde3/tdm/tdmrc

binary-install/tdm-kde3::
	mkdir -p debian/tdm-kde3/etc/init
	install -p -D -m644 debian/tdm-kde3.conf debian/tdm-kde3/etc/init/tdm-kde3.conf
	install -p -D -m644 debian/tdm-kde3.pam debian/tdm-kde3/etc/pam.d/tdm-kde3
	install -p -D -m644 debian/tdm-kde3-np.pam debian/tdm-kde3/etc/pam.d/tdm-kde3-np

binary-install/kcontrol-kde3::
	mkdir -p debian/kcontrol/etc/udev/rules.d
	chmod +x debian/usermap.pl
	debian/usermap.pl kcontrol/input/logitechmouse.usermap > debian/kcontrol/etc/udev/logitechmouse.rules

binary-install/konqueror-kde3::
	install -p -D -m644 debian/edit-as-root.desktop debian/konqueror-kde3/opt/kde3/share/apps/konqueror/servicemenus/edit-as-root.desktop
	cp -Rp debian/konqueror-kde3/usr/* debian/konqueror-kde3/opt/kde3/
	rm -rf debian/konqueror-kde3/usr

install/klipper-kde3::
	sed -i '/X-Ubuntu-Gettext-Domain=/d' debian/tmp/etc/kde3/klipperrc

binary-install/klipper-kde3::
	cp -Rp debian/klipper-kde3/usr/* debian/klipper-kde3/opt/kde3/
	rm -rf debian/klipper-kde3/usr

binary-install/kdebase-kde3-bin::
	install -p -D -m644 debian/kcheckpass-kde3.pam debian/kdebase-kde3-bin/etc/pam.d/kcheckpass-kde3
	install -p -D -m644 debian/tdescreensaver-kde3.pam debian/kdebase-kde3-bin/etc/pam.d/tdescreensaver-kde3
	mkdir -p debian/kdebase-kde3-bin/opt/kde3/share/apps/kxkb/
	install -p -D -m644 debian/ubuntu.xmodmap debian/kdebase-kde3-bin/opt/kde3/share/apps/kxkb/system.xmodmap
	install -p -D -m644 debian/80ubuntu-xmodmap debian/kdebase-kde3-bin/etc/X11/Xsession.d/80ubuntu-kde3-xmodmap
	mkdir -p debian/kdebase-kde3-bin/opt/kde3/share/autostart/
	chmod +s debian/kdebase-kde3-bin/opt/kde3/bin/kcheckpass

install/ksysguardd-kde3::
	# install rc file to correct location
	mkdir -p debian/ksysguardd-kde3/etc/kde3
	install -D -p -m0644 debian/tmp/etc/ksysguarddrc debian/ksysguardd-kde3/etc/kde3/

binary-install/ksmserver-kde3::
	install -p -D -m644 debian/tmp/opt/kde3/share/apps/tdm/sessions/kde.desktop debian/ksmserver-kde3/usr/share/xsessions/kde3.desktop
	install -p -D -m755 debian/plasma.autodetect debian/ksmserver-kde3/usr/bin/plasma.autodetect
	install -p -D -m755 debian/plasma-desktop.autodetect debian/ksmserver-kde3/usr/bin/plasma-desktop.autodetect
