Source: kcpuload-kde3
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Helen Faulkner <helen@debian.org>
Build-Depends: debhelper (>> 4.0.0), kdelibs4-kde3-dev, automake1.11-kde3, autoconf2.63, libtool, libltdl-dev
Standards-Version: 3.8.3

Package: kcpuload-kde3
Architecture: any
Section: kde
Depends: ${shlibs:Depends}
Suggests: knetload-kde3
Description: a CPU meter for Kicker [KDE3]
 KCPULoad is a small program for Kicker (the KDE panel).  It shows a
 recent history of CPU usage in the form of one or two configurable
 diagrams in the system tray.  These diagrams have settings for colours
 and various different styles.
 .
 KCPULoad has support for SMP and separate user/system loads.
