Source: ktechlab-kde3
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
Build-Depends: debhelper (>= 6.0.0), imagemagick, kdelibs4-kde3-dev, dpatch, gpsim-dev (>= 0.21.11-2), libgtk2.0-dev, libreadline5-dev, libopts25-dev, chrpath, libpopt-dev, kdesdk-scripts-kde3, automake1.11-kde3, autoconf2.63, libtool, libltdl-dev
Standards-Version: 3.8.3

Package: ktechlab-kde3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: gputils
Description: circuit simulator for microcontrollers and electronics [KDE3]
 KTechlab is a circuit simulator with a nice, clickable and discoverable
 interface. It supports many discrete components, logic circuits as well
 as PIC programming in its own Basic dialect and some form of assembler. 
Homepage: http://ktechlab.org/
