#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

# Ensure at build time that the library has no dependencies on undefined
# symbols, and speed up loading.
export LDFLAGS := $(shell dpkg-buildflags --get LDFLAGS) -Wl,-z,defs -Wl,-O1

DEB_CONFIGURE_EXTRA_FLAGS += \
		--enable-compat-libdns_sd \
		--disable-mono --disable-monodoc \
		--disable-gtk3 \
		--with-systemdsystemunitdir=/lib/systemd/system

post-patches:: debian/stamp-bootstrap

debian/stamp-bootstrap:
	./autogen.sh
	rm ./ChangeLog
	touch debian/stamp-bootstrap
