Source: kdegraphics-trinity
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Francesco Pedrini <francesco.pedrini@gmail.com>, Josh Metzler <joshdeb@metzlers.org>, Sune Vuorela <debian@pusling.com>
Build-Depends: imlib11-dev, cdbs (>= 0.4.39-0.1), debhelper (>= 5.0.31), autotools-dev, gawk, gettext, kdelibs4-trinity-dev (>= 4:3.5.10), libexif-dev (>= 0.6.9-1), libfribidi-dev, freeglut3-dev, libgphoto2-2-dev, libopenexr-dev (>= 1.2.1), libpaper-dev, libpoppler-dev, libsane-dev (>> 1.0.15), libtiff4-dev, libtiff-tools, libusb-dev, sharutils, libxxf86vm-dev, chrpath [powerpc], automake, autoconf, libtool, libltdl-dev
Standards-Version: 3.8.4

Package: kdegraphics-trinity
Section: kde
Architecture: all
Replaces: kdegraphics-kde3 (<< 4:3.5.13)
Breaks: kdegraphics-kde3 (<< 4:3.5.13)
Depends: kamera-trinity (>= ${source:Version}), kcoloredit-trinity (>= ${source:Version}), kdegraphics-kfile-plugins-trinity (>= ${source:Version}), kdvi-trinity (>= ${source:Version}), kfax-trinity (>= ${source:Version}), kfaxview-trinity (>= ${source:Version}), kgamma-trinity (>= ${source:Version}), kghostview-trinity (>= ${source:Version}), kiconedit-trinity (>= ${source:Version}), kmrml-trinity (>= ${source:Version}), kolourpaint-trinity (>= ${source:Version}), kooka-trinity (>= ${source:Version}), kpdf-trinity (>= ${source:Version}), kpovmodeler-trinity (>= ${source:Version}), kruler-trinity (>= ${source:Version}), ksnapshot-trinity (>= ${source:Version}), ksvg-trinity (>= ${source:Version}), kview-trinity (>= ${source:Version}), kviewshell-trinity (>= ${source:Version}), libkscan1-trinity (>= ${source:Version})
Suggests: kdegraphics-trinity-doc-html (>= ${source:Version})
Description: graphics apps from the official Trinity release
 KDE (the K Desktop Environment) is a powerful Open Source graphical
 desktop environment for Unix workstations. It combines ease of use,
 contemporary functionality, and outstanding graphical design with the
 technological superiority of the Unix operating system.
 .
 This metapackage includes a collection of graphics applications
 provided with the official release of Trinity.

Package: kdegraphics-trinity-doc-html
Architecture: all
Section: doc
Replaces: kdegraphics-kde3-doc-html (<< 4:3.5.13)
Breaks: kdegraphics-kde3-doc-html (<< 4:3.5.13)
Suggests: konqueror-trinity | www-browser, kdebase-trinity
Description: KDE graphics documentation in HTML format
 By default the modules provided by KDE only provide their documentation
 in KDE docbook format, which can only be read by Konqueror or KHelpCenter.
 This package provides all of the KDE graphics documentation converted to
 HTML format so it can be read with any web browser.
 .
 The documentation will be installed into the usual directories
 /usr/share/doc/tde/HTML/<language>/<app>/, for instance
 /usr/share/doc/tde/HTML/en/kamera/. Documentation is provided for most
 KDE graphics packages.
 .
 This package is part of Trinity, and a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdegraphics-trinity' packages for more information.

Package: kamera-trinity
Section: graphics
Architecture: any
Replaces: kamera-kde3 (<< 4:3.5.13)
Breaks: kamera-kde3 (<< 4:3.5.13)
Depends: ${shlibs:Depends}
Suggests: khelpcenter-trinity
Description: digital camera io_slave for Konqueror
 This is a digital camera io_slave for KDE which uses gphoto2 and libgpio
 to allow access to your camera's pictures with the URL camera:/
 .
 This package is part of Trinity, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdegraphics-trinity' packages for more information.

Package: kcoloredit-trinity
Section: graphics
Architecture: any
Replaces: kcoloredit-kde3 (<< 4:3.5.13)
Breaks: kcoloredit-kde3 (<< 4:3.5.13)
Depends: ${shlibs:Depends}
Suggests: khelpcenter-trinity
Description: a color palette editor and color picker for KDE
 This package contains two programs, a color palette editor and also a color
 picker.
 .
 This package is part of Trinity, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdegraphics-trinity' packages for more information.

Package: kdegraphics-trinity-dev
Section: devel
Architecture: any
Replaces: kdegraphics-kde3-dev (<< 4:3.5.13)
Breaks: kdegraphics-kde3-dev (<< 4:3.5.13)
Depends: kghostview-trinity (= ${binary:Version}), kmrml-trinity (= ${binary:Version}), kpovmodeler-trinity (= ${binary:Version}), ksvg-trinity (= ${binary:Version}), kview-trinity (= ${binary:Version}), kviewshell-trinity (= ${binary:Version}), kdelibs4-trinity-dev (>= 4:3.5.8)
Description: development files for the KDE graphics module
 This package contains headers and other development files for the KDE
 graphics module.
 .
 This package is part of Trinity, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdegraphics-trinity' packages for more information.

Package: kdegraphics-kfile-plugins-trinity
Section: kde
Architecture: any
Replaces: kdegraphics-kfile-plugins-kde3 (<< 4:3.5.13)
Breaks: kdegraphics-kfile-plugins-kde3 (<< 4:3.5.13)
Depends: ${shlibs:Depends}
Description: KDE metainfo plugins for graphic files
 This packages provides meta information for graphic files (file sizes,
 tags, etc. all from within the file manager).
 .
 This package is part of Trinity, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdegraphics-trinity' packages for more information.

Package: kdvi-trinity
Section: graphics
Architecture: any
Replaces: kdvi-kde3 (<< 4:3.5.13)
Breaks: kdvi-kde3 (<< 4:3.5.13)
Depends: ${shlibs:Depends}, texlive-fonts-recommended
Suggests: khelpcenter-trinity
Description: dvi viewer for KDE
 This program and KPart allow the user to display *.DVI files from TeX.
 .
 This package is part of Trinity, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdegraphics-trinity' packages for more information.

Package: kfax-trinity
Section: graphics
Architecture: any
Replaces: kfax-kde3 (<< 4:3.5.13)
Breaks: kfax-kde3 (<< 4:3.5.13)
Depends: ${shlibs:Depends}, libtiff-tools
Description: G3/G4 fax viewer for Trinity
 A fax viewer for Trinity, supporting the display of raw and tiffed fax images
 (g3, g3-2d, g4).
 .
 This package is part of Trinity, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdegraphics-trinity' packages for more information.

Package: kfaxview-trinity
Section: graphics
Architecture: any
Replaces: kfaxview-kde3 (<< 4:3.5.13)
Breaks: kfaxview-kde3 (<< 4:3.5.13)
Depends: ${shlibs:Depends}
Description: G3/G4 fax viewer for Trinity using kviewshell
 A fax viewer for Trinity, supporting the display of raw and tiffed fax images
 (g3, g3-2d, g4).
 .
 This faxviewer uses kviewshell and is intended to replace the standalone
 kfax application once it reproduces all of kfax's features.
 .
 This package is part of Trinity, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdegraphics-trinity' packages for more information.

Package: kgamma-trinity
Section: graphics
Architecture: any
Replaces: kgamma-kde3 (<< 4:3.5.13)
Breaks: kgamma-kde3 (<< 4:3.5.13)
Depends: ${shlibs:Depends}
Suggests: khelpcenter-trinity
Description: gamma correction module for the Trinity Control Center
 KGamma is a Trinity Control Center module for gamma calibration/correction
 of XFree86. With proper gamma settings, your display (websites, images,
 etc.) will look the same on your monitor as on other monitors.
 .
 This package is part of Trinity, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdegraphics-trinity' packages for more information.
 .
  Homepage: http://kgamma.berlios.de/index2.php

Package: kghostview-trinity
Section: graphics
Architecture: any
Replaces: kghostview-kde3 (<< 4:3.5.13)
Breaks: kghostview-kde3 (<< 4:3.5.13)
Depends: ${shlibs:Depends}, gs
Suggests: khelpcenter-trinity
Provides: postscript-viewer, pdf-viewer
Description: PostScript viewer for Trinity
 KGhostview is Trinity's PostScript viewer. It is a port of Tim Theisen's
 Ghostview program which is used to view documents prepared in Adobe's
 PostScript page description language. PostScript is the major page
 description language for printing on UNIX systems, and this application is
 useful to preview material intended for printing, or for reading documents
 online.
 .
 This package is part of Trinity, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdegraphics-trinity' packages for more information.

Package: kiconedit-trinity
Section: graphics
Architecture: any
Replaces: kiconedit-kde3 (<< 4:3.5.13)
Breaks: kiconedit-kde3 (<< 4:3.5.13)
Depends: ${shlibs:Depends}
Suggests: khelpcenter-trinity
Description: an icon editor for Trinity
 KIconedit allows you easily to create and edit icons.
 .
 This package is part of Trinity, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdegraphics-trinity' packages for more information.

Package: kmrml-trinity
Section: kde
Architecture: any
Replaces: kmrml-kde3 (<< 4:3.5.13)
Breaks: kmrml-kde3 (<< 4:3.5.13)
Depends: ${shlibs:Depends}
Recommends: gnuift
Description: a Konqueror plugin for searching pictures
 MRML is short for Multimedia Retrieval Markup Language, which defines a
 protocol for querying a server for images based on their content. See 
 http://www.mrml.net about MRML and the GNU Image Finding Tool (GIFT), an 
 MRML server.
 .
 This package is part of Trinity, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdegraphics-trinity' packages for more information.

Package: kolourpaint-trinity
Section: graphics
Architecture: any
Replaces: kolourpaint-kde3 (<< 4:3.5.13)
Breaks: kolourpaint-kde3 (<< 4:3.5.13)
Depends: ${shlibs:Depends}
Suggests: khelpcenter-trinity
Description: a simple paint program for Trinity
 KolourPaint is a very simple paint program for Trinity. It aims to be
 conceptually simple to understand; providing a level of functionality
 targeted towards the average user. It's designed for daily tasks like:
 .
  * Painting - drawing diagrams and "finger painting" 
  * Image Manipulation - editing screenshots and photos; applying effects 
  * Icon Editing - drawing clipart and logos with transparency 
 .
 It's not an unusable and monolithic program where simple tasks like
 drawing lines become near impossible. Nor is it so simple that it lacks
 essential features like Undo/Redo.
 .
 This package is part of Trinity, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdegraphics-trinity' packages for more information.
 .
  Homepage: http://kolourpaint.sourceforge.net

Package: kooka-trinity
Section: graphics
Architecture: any
Replaces: kooka-kde3 (<< 4:3.5.13)
Breaks: kooka-kde3 (<< 4:3.5.13)
Depends: ${shlibs:Depends}
Recommends: ocrad | gocr
Suggests: khelpcenter-trinity
Description: scanner program for Trinity
 Kooka is an open source GNU/Linux scan program based on SANE and
 KScan library.
 .
 Kooka helps you to handle the most important scan parameters, find the
 correct image file format to save and manage your scanned images. It
 offers support for different OCR modules. Libkscan, a autonomous part
 of Kooka, provides a scan service for easy and consistent use to all
 KDE applications.
 .
 Install ocrad or gocr if you wish to enable optical character recognition
 in kooka.
 .
 This package is part of Trinity, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdegraphics-trinity' packages for more information.
 .
  Homepage: http://kooka.kde.org/

Package: kpdf-trinity
Section: graphics
Architecture: any
Replaces: kpdf-kde3 (<< 4:3.5.13)
Breaks: kpdf-kde3 (<< 4:3.5.13)
Depends: ${shlibs:Depends}
Recommends: kghostview-trinity (= ${binary:Version})
Suggests: khelpcenter-trinity
Provides: pdf-viewer
Description: PDF viewer for Trinity
 KPDF allows you to view PDF (Portable Document Format) files. This package
 includes kpdfpart so you can embed in konqueror or run as a standalone
 application.
 .
 This package is part of Trinity, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdegraphics-trinity' packages for more information.

Package: kpovmodeler-trinity
Section: graphics
Architecture: any
Replaces: kpovmodeler-kde3 (<< 4:3.5.13)
Breaks: kpovmodeler-kde3 (<< 4:3.5.13)
Depends: ${shlibs:Depends}
Suggests: khelpcenter-trinity, povray
Description: a graphical editor for povray scenes
 KPovmodeler is KDE's graphical editor for povray scenes. KPovModeler is a
 modeling and composition program for creating POV-Ray scenes in KDE.
 .
 For most modelers, POV-Ray is nothing but a rendering engine. This greatly
 limits the innate possibilities of the POV-Ray scripted language. This
 is not the case for KPovModeler, which allows you to use all the features
 of POV-Ray through the translation of POV-Ray language into a graphical
 tree.
 .
 kpovmodeler uses the povray package, currently available only in Debian's
 non-free, unsupported repository.
 .
 This package is part of Trinity, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdegraphics-trinity' packages for more information.
 .
  Homepage: http://www.kpovmodeler.org

Package: kruler-trinity
Section: graphics
Architecture: any
Replaces: kruler-kde3 (<< 4:3.5.13)
Breaks: kruler-kde3 (<< 4:3.5.13)
Depends: ${shlibs:Depends}
Suggests: khelpcenter-trinity
Description: a screen ruler and color measurement tool for Trinity
 Kruler is a screen ruler (using pixels) and color measurement tool for KDE.
 .
 This package is part of Trinity, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdegraphics-trinity' packages for more information.

Package: ksnapshot-trinity
Section: graphics
Architecture: any
Replaces: ksnapshot-kde3 (<< 4:3.5.13)
Breaks: ksnapshot-kde3 (<< 4:3.5.13)
Depends: ${shlibs:Depends}
Suggests: khelpcenter-trinity
Description: screenshot utility for Trinity
 KSnapshot is a simple applet for taking screenshots. It is capable of 
 capturing images of either the whole desktop or just a single window. 
 The images can then be saved in a variety of formats.
 .
 This package is part of Trinity, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdegraphics-trinity' packages for more information.

Package: ksvg-trinity
Section: graphics
Architecture: any
Replaces: ksvg-kde3 (<< 4:3.5.13)
Breaks: ksvg-kde3 (<< 4:3.5.13)
Depends: ${shlibs:Depends}
Description: SVG viewer for Trinity
 KSVG allows you view SVG (scalable vector graphics) files. This package
 includes kpart so you can embed it in konqueror and a standalone
 application.
 .
 This package is part of Trinity, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdegraphics-trinity' packages for more information.

Package: kview-trinity
Section: graphics
Architecture: any
Replaces: kview-kde3 (<< 4:3.5.13)
Breaks: kview-kde3 (<< 4:3.5.13)
Depends: ${shlibs:Depends}
Suggests: khelpcenter-trinity
Description: simple image viewer/converter for Trinity
 KView is a simple image viewer and converter application. It supports
 a number of plugins, which add an array of basic editing capabilities
 as well.
 .
 This package is part of Trinity, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdegraphics-trinity' packages for more information.

Package: kviewshell-trinity
Section: graphics
Architecture: any
Replaces: kviewshell-kde3 (<< 4:3.5.13)
Breaks: kviewshell-kde3 (<< 4:3.5.13)
Depends: ${shlibs:Depends}
Description: generic framework for viewer applications in Trinity
 KViewShell is a generic viewing framework that allows the graphical
 applications, such as the kview image viewer, to be embedded in other
 KDE applications, such as Konqueror.
 .
 KViewShell comes with a djvuviewpart plugin included, for viewing
 DjVu images.
 .
 This package is part of Trinity, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdegraphics-trinity' packages for more information.

Package: libkscan-trinity-dev
Section: libdevel
Architecture: any
Replaces: libkscan-kde3-dev (<< 4:3.5.13)
Breaks: libkscan-kde3-dev (<< 4:3.5.13)
Depends: libkscan1-trinity (= ${binary:Version}), kdelibs4-trinity-dev (>= 4:3.5.8)
Description: development files for the Trinity scanner library
 This package contains development files for Trinity's scanner library.
 .
 This package is part of Trinity, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdegraphics-trinity' packages for more information.

Package: libkscan1-trinity
Section: libs
Architecture: any
Replaces: libkscan1-kde3 (<< 4:3.5.13)
Breaks: libkscan1-kde3 (<< 4:3.5.13)
Depends: ${shlibs:Depends}
Description: scanner library for Trinity
 KScan is KDE's scanner library. It's used by kooka and by koffice currently.
 It provides an easy-to-use library, which allows you to access your scanner
 (as long as it's sane compatible).
 .
 This package is part of Trinity, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdegraphics-trinity' packages for more information.

Package: libpoppler-tqt
Section: net
Architecture: any
Replaces: libpoppler-tqt (<< 4:3.5.13)
Breaks: libpoppler-tqt (<< 4:3.5.13)
Depends: ${shlibs:Depends}
Description: TQt support for Poppler
 TQt support library for Poppler.
 This library is used by the Trinity graphics file plugins for PDF support.
 .
 This package is part of KDE, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdenetwork-trinity' packages for more information.

Package: libpoppler-tqt-dev
Section: net
Architecture: any
Replaces: libpoppler-tqt-dev (<< 4:3.5.13)
Breaks: libpoppler-tqt-dev (<< 4:3.5.13)
Depends: ${shlibs:Depends}, libpoppler-dev, libpoppler-tqt
Description: Development files for TQt support for Poppler
 Development files of TQt support library for Poppler.
 This package contains the development files needed to compile applications against poppler-tqt.
 .
 This package is part of KDE, as a component of the KDE graphics module.
 See the 'kde-trinity' and 'kdenetwork-trinity' packages for more information.

Package: kdegraphics-trinity-dbg
Section: libdevel
Architecture: any
Replaces: kdegraphics-kde3-dbg (<< 4:3.5.13)
Breaks: kdegraphics-kde3-dbg (<< 4:3.5.13)
Priority: extra
Depends: kdelibs-trinity-dbg, libkscan1-trinity (= ${binary:Version})
Description: debugging symbols for kdegraphics
 This package contains the debugging symbols associated with kdegraphics-trinity.
 They will automatically be used by gdb for debugging kdegraphics-trinity-related
 issues.
