#! /usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include debian/cdbs/debian-qt-kde.mk
#include /usr/share/cdbs/1/rules/patchsys-quilt.mk
include /usr/share/cdbs/1/rules/utils.mk

DEB_CONFIGURE_INCLUDEDIR := /opt/trinity/include/tde
DEB_CONFIGURE_MANDIR := /opt/trinity/share/man
DEB_CONFIGURE_PREFIX := /opt/trinity
DEB_CONFIGURE_INFODIR := /opt/trinity/share/info

cdbs_configure_flags := --with-qt-dir=/usr/share/qt3 --with-xinerama $(cdbs_kde_enable_final) $(cdbs_kde_enable_debug)

DEB_CONFIGURE_EXTRA_FLAGS := --prefix=/opt/trinity --includedir="/opt/trinity/include/tde" --mandir="/opt/trinity/share/man" --infodir="/opt/trinity/share/info" --with-extra-libs="/usr/lib/mesa"

DEB_DH_STRIP_ARGS  := --dbg-package=kdegraphics-trinity-dbg

PACKAGES_WITH_LIBS := kfaxview-trinity kghostview-trinity kmrml-trinity kpovmodeler-trinity ksvg-trinity \
			kuickshow-trinity kview-trinity kviewshell-trinity libkscan1-trinity

DEB_DH_MAKESHLIBS_ARGS_kghostview-trinity	:= -V'kghostview-trinity (>= 4:3.5.5-1)'
DEB_DH_MAKESHLIBS_ARGS_kpovmodeler-trinity	:= -V'kpovmodeler-trinity (>= 4:3.5.5-1)'
DEB_DH_MAKESHLIBS_ARGS_ksvg-trinity	:= -V'ksvg-trinity (>= 4:3.5.5-1)'
DEB_DH_MAKESHLIBS_ARGS_kview-trinity	:= -V'kview-trinity (>= 4:3.5.5-1)'
DEB_DH_MAKESHLIBS_ARGS_kviewshell-trinity	:= -V'kviewshell-trinity (>= 4:3.5.5-1)'
DEB_DH_MAKESHLIBS_ARGS_libkscan1-trinity	:= -V'libkscan1-trinity (>= 4:3.5.5-1)'

binary-post-install/kuickshow-trinity::
ifeq ($(DEB_HOST_ARCH), powerpc)
	chrpath -d -k debian/kuickshow-trinity/opt/trinity/lib/libtdeinit_kuickshow.so
endif

#shlibs_ver = 4:3.5.0-1
#$(foreach p,$(PACKAGES_WITH_LIBS),$(eval DEB_DH_MAKESHLIBS_ARGS_$(p) := -V'$(p) (>= $(shlibs_ver))'))

kuickshow-trinity-tar:
	mkdir ../kuickshow-trinity-3.5.8
	cp -f * ../kuickshow-trinity-3.5.8 || true
	mkdir ../kuickshow-trinity-3.5.8/doc
	cp doc/Makefile.am ../kuickshow-trinity-3.5.8/doc
	cp -r doc/kuickshow ../kuickshow-trinity-3.5.8/doc
	cp -r kuickshow ../kuickshow-trinity-3.5.8
	cp -r admin ../kuickshow-trinity-3.5.8
	cd ../kuickshow-trinity-3.5.8; make -f admin/Makefile.common dist
	cd ..; tar zcf kuickshow-trinity_3.5.8.orig.tar.gz kuickshow-trinity-3.5.8

binary-post-install/kpdf-trinity::
	cp -Rp debian/kpdf-trinity/usr/* debian/kpdf-trinity/opt/trinity/
	rm -rf debian/kpdf-trinity/usr/

binary-post-install/kghostview-trinity::
	cp -Rp debian/kghostview-trinity/usr/* debian/kghostview-trinity/opt/trinity/
	rm -rf debian/kghostview-trinity/usr/

binary-post-install/kcolorchooser-trinity::
	cp -Rp debian/kcolorchooser-trinity/usr/* debian/kcolorchooser-trinity/opt/trinity/
	rm -rf debian/kcolorchooser-trinity/usr/

binary-post-install/kdvi-trinity::
	cp -Rp debian/kdvi-trinity/usr/* debian/kdvi-trinity/opt/trinity/
	rm -rf debian/kdvi-trinity/usr/

binary-post-install/kfaxview-trinity::
	cp -Rp debian/kfaxview-trinity/usr/* debian/kfaxview-trinity/opt/trinity/
	rm -rf debian/kfaxview-trinity/usr/	

binary-post-install/kiconedit-trinity::
	cp -Rp debian/kiconedit-trinity/usr/* debian/kiconedit-trinity/opt/trinity/
	rm -rf debian/kiconedit-trinity/usr/	

binary-post-install/kooka-trinity::
	cp -Rp debian/kooka-trinity/usr/* debian/kooka-trinity/opt/trinity/
	rm -rf debian/kooka-trinity/usr/

binary-post-install/kpovmodeler-trinity::
	cp -Rp debian/kpovmodeler-trinity/usr/* debian/kpovmodeler-trinity/opt/trinity/
	rm -rf debian/kpovmodeler-trinity/usr/

binary-post-install/ksnapshot-trinity::
	cp -Rp debian/ksnapshot-trinity/usr/* debian/ksnapshot-trinity/opt/trinity/
	rm -rf debian/ksnapshot-trinity/usr/

binary-post-install/kview-trinity::
	cp -Rp debian/kview-trinity/usr/* debian/kview-trinity/opt/trinity/
	rm -rf debian/kview-trinity/usr/

binary-post-install/kcoloredit-trinity::
	cp -Rp debian/kcoloredit-trinity/usr/* debian/kcoloredit-trinity/opt/trinity/
	rm -rf debian/kcoloredit-trinity/usr/

binary-post-install/kfax-trinity::
	cp -Rp debian/kfax-trinity/usr/* debian/kfax-trinity/opt/trinity/
	rm -rf debian/kfax-trinity/usr/

binary-post-install/kolourpaint-trinity::
	cp -Rp debian/kolourpaint-trinity/usr/* debian/kolourpaint-trinity/opt/trinity/
	rm -rf debian/kolourpaint-trinity/usr/

binary-post-install/kruler-trinity::
	cp -Rp debian/kruler-trinity/usr/* debian/kruler-trinity/opt/trinity/
	rm -rf debian/kruler-trinity/usr/

binary-post-install/kuickshow-trinity::
	cp -Rp debian/kuickshow-trinity/usr/* debian/kuickshow-trinity/opt/trinity/
	rm -rf debian/kuickshow-trinity/usr/

binary-post-install/kviewshell-trinity::
	cp -Rp debian/kviewshell-trinity/usr/* debian/kviewshell-trinity/opt/trinity/
	rm -rf debian/kviewshell-trinity/usr/
