Source: ktorrent-trinity
Section: tde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
Build-Depends: debhelper (>= 5.0), cdbs, docbook2x, tdelibs4-trinity-dev, libpcre3-dev, libx11-dev, libgmp3-dev, libavahi-tqt-dev, automake, autoconf, libtool, libltdl-dev
Standards-Version: 3.8.4

Package: ktorrent-trinity
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: ktorrent-trinity (<< 4:14.0.0)
Breaks: ktorrent-trinity (<< 4:14.0.0)
Suggests: php5-cli
Recommends: tdebase-kio-plugins-trinity
Description: BitTorrent client for Trinity
 KTorrent is a BitTorrent program for Trinity. Its features include speed capping
 (both down and up), integrated searching, UDP tracker support, preview of
 certain file types (video and audio) and integration into the KDE Panel
 enabling background downloading.
 .
  Homepage: http://ktorrent.org

