Source: filelight-trinity
Section: kde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Ral Snchez Siles <rasasi78@gmail.com>
Standards-Version: 3.8.4
Build-Depends: debhelper (>= 5.0), cdbs, tdelibs4-trinity-dev, xutils, chrpath, gettext, quilt (>= 0.40), automake, autoconf, libtool, libltdl-dev
Homepage: http://www.methylblue.com/filelight/

Package: filelight-trinity
Architecture: any
Depends: ${shlibs:Depends}
Replaces: filelight-kde3 (<< 4:3.5.13)
Breaks: filelight-kde3 (<< 4:3.5.13)
Description: show where your diskspace is being used [Trinity]
 Filelight allows you to understand your disk usage by graphically
 representing your filesystem as a set of concentric, segmented rings.
 .
 It is like a pie-chart, but the segments nest, allowing you to see both
 which directories take up all your space, and which directories
 and files inside those directories are the real culprits.
