Source: digikam-kde3
Section: graphics
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Achim Bohnet <ach@mpe.mpg.de>, Mark Purcell <msp@debian.org>, Fathi Boudra <fabo@debian.org>
Build-Depends: cdbs, debhelper (>= 5), kdelibs4-kde3-dev,
 libtiff4-dev, libgphoto2-2-dev, libkipi0-kde3-dev,
 libsqlite3-dev, liblcms1-dev, libkexiv2-3-kde3-dev (>= 0.1.6),
 libjasper-dev, libpng12-dev | libpng-dev, libexiv2-kde3-dev (>= 0.16),
 libkdcraw3-kde3-dev (>= 0.1.4),
 automake1.11-kde3, autoconf2.63, libtool, libltdl-dev
Standards-Version: 3.8.3
Homepage: http://www.digikam.org

Package: digikam-kde3
Architecture: any
Depends: ${shlibs:Depends}
Recommends: kipi-plugins-kde3, kdeprint-kde3, konqueror-kde3
Suggests: digikam-kde3-doc
Description: digital photo management application for KDE [KDE3]
 An easy to use and powerful digital photo management
 application, which makes importing, organizing and manipulating
 digital photos a "snap".  An interface is provided to connect to
 your digital camera, preview the images and download and/or
 delete them.
 .
 The digiKam built-in image editor makes the common photo correction
 a simple task. The image editor is extensible via plugins and,
 the digikamimageplugins project has been merged to digiKam core
 since release 0.9.2, all useful image editor plugins are available
 in the base installation.
 .
 digiKam can also make use of the KIPI image handling plugins to
 extend its capabilities even further for photo manipulations,
 import and export, etc. The kipi-plugins package contains many
 very useful extentions.
 .
 digiKam is based in part on the work of the Independent JPEG Group.

Package: showfoto-kde3
Architecture: any
Section: graphics
Depends: ${shlibs:Depends}, digikam-kde3
Recommends: kipi-plugins-kde3, kdeprint-kde3, konqueror-kde3
Description: image viewer/editor for KDE [KDE3]
 Showphoto is part of the Digikam project.
 It allows to browse your photo collection and edit them with ease.

Package: digikam-kde3-dbg
Architecture: any
Section: devel
Depends: ${shlibs:Depends}, digikam-kde3 (= ${binary:Version}), showfoto-kde3 (= ${binary:Version}), kdelibs-kde3-dbg
Priority: extra
Description: debugging symbols for digikam [KDE3]
 The debugging symbols associated with digikam and showfoto. They will
 automatically be used by gdb for debugging digikam-related issues.
