#!/usr/bin/make -f

# work around debian/cdbs/uploaders.mk
makebuilddir::
	[ -f debian/control.tmp ] || cp debian/control debian/control.tmp

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk
#include /usr/share/cdbs/1/rules/patchsys-quilt.mk
include /usr/share/cdbs/1/rules/utils.mk
include debian/cdbs/debian-qt-kde.mk

DEB_CMAKE_EXTRA_FLAGS := -DLIB_SUFFIX="" -DCMAKE_INSTALL_PREFIX="/opt/trinity" -DCONFIG_INSTALL_DIR="/etc/trinity" -DSYSCONF_INSTALL_DIR="/etc/trinity" -DXDG_MENU_INSTALL_DIR="/etc/xdg/menus" -DCMAKE_LIBRARY_PATH="/opt/trinity/lib" -DCMAKE_INCLUDE_PATH="/opt/trinity/include/" -DAUTODETECT_QT_DIRS="ON" -DCMAKE_VERBOSE_MAKEFILE="ON" -DBUILD_ALL="ON" -DCMAKE_SKIP_RPATH="OFF" \
-DWITH_XINERAMA="ON"

# Honour "parallel=N" option of DEB_BUILD_OPTIONS.  Comment out to
# never build in parallel, regardless of DEB_BUILD_OPTIONS.
DEB_BUILD_PARALLEL = true

PACKAGES_WITH_LIBS := kdevelop-trinity

DEB_KDE_ENABLE_FINAL :=
DEB_INSTALL_DOCS_kdevelop = AUTHORS
DEB_MAKE_INSTALL_TARGET := install DESTDIR=$(CURDIR)/debian/tmp

binary-install/kdevelop-trinity::
	mkdir -p debian/kdevelop-trinity/opt/trinity/share/pixmaps
	cp debian/kdevelop.xpm debian/kdevelop-trinity/opt/trinity/share/pixmaps

