Source: kdebindings-kde3
Build-Depends: cdbs (>= 0.4.43), debhelper (>= 5),
 python-dev (>= 2.3.5-11), python-support (>= 0.5), quilt, gawk,
 gettext, default-jdk [amd64 i386 ia64 lpia powerpc s390 sparc],
 kdelibs4-kde3-dev (>= 4:3.5.9), libqt3-compat-headers (>= 3:3.3.5),
 ruby, ruby1.8-dev, flex, bison,
 automake1.11-kde3, autoconf2.63, libtool, libltdl-dev
Section: devel
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
XSBC-Original-Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Adeodato Simó <dato@net.com.org.es>, Ana Beatriz Guerrero Lopez <ana@debian.org>, Ricardo Cardenes <rcardenes@debian.org>, Sune Vuorela <debian@pusling.com>
Standards-Version: 3.8.3

Package: kdebindings-java-kde3
Section: libs
Architecture: all
Depends: libdcop3-java-kde3 (= ${source:Version}), libqt3-java-kde3 (= ${source:Version}), libkde3-java-kde3 (= ${source:Version})
Description: KDE Java bindings metapackage [KDE3]
 A metapackage depending on all KDE, Qt and DCOP bindings libraries
 related to the Java language.
 .
 This package is part of the official KDE bindings module.

Package: libdcop3-java-kde3
Architecture: all
Section: libs
Depends: libdcop3-jni-kde3 (>> ${KDE-Version3}), libdcop3-jni-kde3 (<< ${KDE-Next-Version3}), gij | java1-runtime | java2-runtime
Description: DCOP bindings for Java [KDE3]
 This package contains the Java classes necessary to run Java programs
 using the Java DCOP bindings. DCOP is the KDE Desktop COmmunications
 Protocol, used for communicating with running KDE applications.
 .
 This package is part of the official KDE bindings module.

Package: libdcop3-jni-kde3
Architecture: amd64 i386 ia64 powerpc s390 sparc
Section: libs
Depends: ${shlibs:Depends}
Description: DCOP bindings for Java ( Native libraries ) [KDE3]
 This package contains the shared libraries and scripts necessary to
 run programs using the Java DCOP bindings. DCOP is the KDE Desktop
 COmmunications Protocol, used for communicating with running KDE
 applications.
 .
 This package is part of the official KDE bindings module.

Package: libdcop3-java-kde3-dev
Architecture: amd64 i386 ia64 powerpc s390 sparc
Section: libdevel
Depends: libdcop3-java-kde3 (>> ${KDE-Version3}), libdcop3-java-kde3 (<< ${KDE-Next-Version3})
Description: DCOP bindings for Java (dcopidl2java program) [KDE3]
 This package contains the dcopidl2java program which generates Java 
 stubs from DCOP IDL files, necessary to do development with the DCOP Java
 bindings. DCOP is the KDE Desktop COmmunications Protocol, used for
 communicating with running KDE applications.
 .
 This package is part of the official KDE bindings module.

Package: libqt3-java-kde3
Architecture: all
Section: libs
Depends: libqt3-jni-kde3 (>> ${KDE-Version3}), libqt3-jni-kde3 (<< ${KDE-Next-Version3}), gij | java1-runtime | java2-runtime
Suggests: juic-kde3
Description: Java bindings for Qt [KDE3]
 This package contains the Java classes necessary to run Java programs
 using the Java Qt bindings. Qt is a very popular GUI toolkit, used by
 the KDE desktop environment.
 .
 It also includes many example programs that make use of these bindings,
 plus many of the Qt Tutorial examples translated into Java.
 .
 This package is part of the official KDE bindings module.

Package: libqt3-jni-kde3
Architecture: amd64 i386 ia64 powerpc s390 sparc
Section: libs
Depends: ${shlibs:Depends}
Description: Java bindings for Qt ( Native libraries ) [KDE3]
 This package contains the shared libraries necessary to run Java
 programs using the Java Qt bindings. Qt is a very popular GUI
 toolkit, used by the KDE desktop environment.
 .
 This package is part of the official KDE bindings module.

Package: libkde3-java-kde3
Architecture: all
Section: libs
Depends: libkde3-jni-kde3 (>> ${KDE-Version3}), libkde3-jni-kde3 (<< ${KDE-Next-Version3}), gij | java1-runtime | java2-runtime
Description: kdelibs bindings for Java [KDE3]
 This package contains the Java classes necessary to run Java programs
 using the Java kdelibs bindings. KDE is the K Desktop Environment, a
 very popular UNIX Desktop Environment.
 .
 It also includes some example applications that use these Java
 classes, and multiple usage samples of the most common KDE classes.
 .
 This package is part of the official KDE bindings module.

Package: libkde3-jni-kde3
Architecture: amd64 i386 ia64 powerpc s390 sparc
Section: libs
Depends: ${shlibs:Depends}
Description: kdelibs bindings for java ( Native libraries ) [KDE3]
 This package contains the shared libraries necessary to run Java
 programs using the Java kdelibs bindings. KDE is the K Desktop
 Environment, a very popular UNIX Desktop Environment.
 .
 This package is part of the official KDE bindings module.

Package: libsmokeqt1-kde3
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Conflicts: libqt-perl (<= 3.008-1)
Description: SMOKE Binding Library to Qt
 The "Scripting Meta Object Kompiler Engine" library is used by
 various KDE language bindings packages to provide interfaces to the
 Qt library.
 .
 This package is part of the official KDE bindings module.

Package: libsmokeqt-kde3-dev
Architecture: any
Section: libdevel
Depends: libsmokeqt1-kde3 (= ${binary:Version})
Conflicts: libqt-perl (<= 3.008-1)
Description: SMOKE Binding Library to Qt - Development Files
 The "Scripting Meta Object Kompiler Engine" library is used by
 various KDE language bindings packages to provide interfaces to the
 Qt library. This package contains the development files for the
 library.
 .
 If you are a normal Debian user, you probably don't need this
 package.
 .
 This package is part of the official KDE bindings module.

Package: libsmokekde1-kde3
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: SMOKE Binding Library to KDE
 The "Scripting Meta Object Kompiler Engine" library is used by
 various KDE language bindings packages to provide interfaces to the
 KDE libraries.
 .
 This package is part of the official KDE bindings module.

Package: libsmokekde-kde3-dev
Architecture: any
Section: libdevel
Depends: libsmokekde1-kde3 (= ${binary:Version})
Description: SMOKE Binding Library to KDE - Development Files
 The "Scripting Meta Object Kompiler Engine" library is used by
 various KDE language bindings packages to provide interfaces to the
 Qt and KDE libraries. This package contains the development files for
 the library.
 .
 If you are a normal Debian user, you probably don't need this
 package.
 .
 This package is part of the official KDE bindings module.

Package: python-dcop-kde3
Architecture: any
Section: python
Depends: ${python:Depends}, ${shlibs:Depends}
Provides: ${python:Provides}
Description: DCOP bindings for Python
 This package contains the shared libraries necessary to run and
 develop Python programs using the Python DCOP bindings
 libraries. DCOP is the KDE Desktop COmmunications Protocol, used for
 communicating with running KDE applications.
 .
 This package is part of the official KDE bindings module.

Package: libkjsembed1-kde3
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: Embedded JavaScript library
 This package contains the shared libraries necessary to run programs
 linked with the KJSEmbed library. This library provides JavaScript
 embedded scripting facilities to KDE applications.
 .
 This package is part of the official KDE bindings module.

Package: libkjsembed-kde3-dev
Architecture: any
Section: libdevel
Depends: libkjsembed1-kde3 (= ${binary:Version})
Description: Embedded JavaScript library (Development files)
 This package contains the header files and symbolic links necessary
 to develop and compile programs using the KJSEmbed library. This
 library provides JavaScript embedded scripting facilities to KDE
 applications.
 .
 It also includes lots of example programs that make use of these
 bindings, plus comprehensive documentation of the bindings.
 .
 This package is part of the official KDE bindings module.

Package: kjscmd-kde3
Architecture: any
Section: interpreters
Depends: ${shlibs:Depends}
Description: A script interpreter using the KDE JavaScript library
 This package contains the kjscmd program, which is a standalone
 JavaScript interpreter using the KJSEmbed library.
 .
 This package is part of the official KDE bindings module.

Package: juic-kde3
Architecture: all
Section: libdevel
Depends: xsltproc
Recommends: libqt3-java-kde3
Suggests: qt3-designer
Description: The Qt Java UI Compiler
 This package contains the juic program, which is used to convert
 a UI description file generated by the Qt Designer, and converts
 it into a Qt Java class. It is necessary for compiling and 
 developing programs using the Qt Java bindings together with Qt
 Designer.
 .
 This package is part of the official KDE bindings module.

Package: libkorundum0-ruby1.8-kde3
Architecture: any
Section: interpreters
Depends: libqt0-ruby1.8-kde3 (= ${binary:Version}), ${shlibs:Depends}
Description: KDE bindings for Ruby [KDE3]
 This package contains the files necessary for running and developing
 Ruby code using the Korundum KDE Ruby bindings.
 .
 It also includes some example programs and templates that make use of
 these bindings.
 .
 This package is part of the official KDE bindings module.

Package: libqt0-ruby1.8-kde3
Architecture: any
Section: interpreters
Depends: ruby1.8, ${shlibs:Depends}
Description: Qt bindings for Ruby [KDE3]
 This package contains the files necessary for running and developing
 Ruby code using the Qt Ruby bindings.
 .
 It also includes some example programs that make use of these bindings,
 plus many of the Qt Tutorial examples translated into Ruby.
 .
 This package is part of the official KDE bindings module.
