Source: kaffeine-mozilla-kde3
Section: web
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
Uploaders: Riku Voipio <riku.voipio@iki.fi>
Build-Depends: debhelper (>= 4.0.0), libxaw7-dev, libnspr4-dev, automake1.11-kde3, autoconf2.63, libtool, libltdl-dev
Standards-Version: 3.8.3

Package: kaffeine-mozilla-kde3
Architecture: any
Depends: kaffeine-kde3, ${shlibs:Depends}, ${misc:Depends}
Description: mozilla plugin that lanches kaffeine for supported media types [KDE3]
 This mozilla plugin launches kaffeine, the xine-based media player for KDE,
 when a page containing a supported media format is loaded.
