Source: ksensors-trinity
Section: tde
Priority: optional
Maintainer: Timothy Pearson <kb9vqf@pearsoncomputing.net>
Build-Depends: debhelper (>> 5), cdbs, autotools-dev, automake, autoconf, libtool, libsensors4-dev, tdelibs14-trinity-dev, imagemagick
Build-Conflicts: autoconf2.13
Standards-Version: 3.8.3

Package: ksensors-trinity
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lm-sensors
Recommends: hddtemp (>= 0.3beta2-1)
Description: lm-sensors frontend for TDE
 This is a lm-sensors frontend for TDE for monitoring a motherboard.
 It allows you to access information from temperature and fan speed
 sensors.
 .
 You will need lm-sensors kernel modules to use this package.
